<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- SweetAlert2 -->
  <link rel="stylesheet" th:href="@{/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
	<!-- Toastr -->
  <link rel="stylesheet" th:href="@{/plugins/toastr/toastr.min.css}">
  <!-- Select2 -->
  <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
</head>
<body>

	<h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Rangos Renta</h1>

	<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#" th:href="@{/index}">Home</a>
		</li>
		<li class="breadcrumb-item active">Rangos Renta</li>
	</ol>
	
	<div layout:fragment="content">	
		<div class="container">
			<div class="row ml-5">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<ul th:if="${!#lists.isEmpty(errors)}" class="alert alert-danger ml-2 mr-2" role="alert">
						<li  class="ml-2" th:each="error : ${errors}" th:text="${error}"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row ml-3 mr-3">
			<div class="col-md-1"></div>
			<div class="col-md-10 ">
				<div class="card">
	            <div class="card-header text-right">
		            <button class="btn btn-sm btn-primary" title="Agregar Rango de Renta">
						<i class="fas fa-plus-circle mr-1 text-white"></i>
						<span class="text-white">Nuevo Rango de Renta</span>
					</button>
	              <h3 class="card-title"></h3>
	            </div>
					
					<div class="card-body">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
								  <th>Desde</th>
				                  <th>Hasta</th>
				                  <th>Procentaje</th>
				                  <th>Exceso</th>
				                  <th>Cuota fija</th>
								  <th>Periodicidad</th>
								  <th>Acciones</th>
				                </tr>
							</thead>
							<tbody>

								<tr th:each="rango_renta: ${rangos_renta}">
									<td th:text="${#numbers.formatCurrency(rango_renta.salarioMin)}"></td>
									<td th:text="${#numbers.formatCurrency(rango_renta.salarioMax)}"></td>
									<td th:text="${rango_renta.porcentajeRenta}"></td>
									<td th:text="${#numbers.formatCurrency(rango_renta.exceso)}"></td>
									<td th:text="${#numbers.formatCurrency(rango_renta.cuotaFija)}"></td>
									<th:block th:switch="${rango_renta.periodicidadRenta}">
										<td th:case="30">Mensualmente</td>
										<td th:case="15">Quincenalmente</td>
										<td th:case="7">Semanalmente</td>
									</th:block>
									<td class="text-center">
										<button class="btn btn-sm btn-primary mr-2" title="Editar">
											<i class="fas fa-pencil-alt"></i>
										</button>	
									</td>
								</tr>
								<tr th:if="${#lists.isEmpty(rangos_renta)}">
				                	<td colspan="6">
				                		No hay Rangos de Renta almacenados
				                	</td>
				                </tr>
							</tbody>
							<tfoot>
								<tr>
								  <th>Desde</th>
				                  <th>Hasta</th>
				                  <th>Procentaje</th>
				                  <th>Exceso</th>
				                  <th>Cuota fija</th>
								  <th>Periodicidad</th>
								  <th>Acciones</th>
				                </tr>
							</tfoot>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
		</div>

	</div>
	<!-- Scripts-->
	<section layout:fragment="scripts">

		<!-- DataTables -->
		<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
		<!-- Toastr -->
		<script th:src="@{/plugins/toastr/toastr.min.js}"></script>
		<!-- SweetAlert2 -->
		<script th:src="@{/plugins/sweetalert2/sweetalert2.min.js}"></script>

		<!-- page script -->
		<script>
			$(function() {
				var table = $("#example1").DataTable({
							"responsive" : true,
							"autoWidth" : false,
						});
				table.order( [ 5, 'asc' ])
    				.draw();

			});

		</script>
		<!-- Scripts-->
	</section>

</body>
</html>