<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- SweetAlert2 -->
  <link rel="stylesheet" th:href="@{/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
	<!-- Toastr -->
  <link rel="stylesheet" th:href="@{/plugins/toastr/toastr.min.css}">
  <!-- Select2 -->
  <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
</head>
<body>

	<h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Rangos Renta</h1>

	<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#" th:href="@{/index}">Home</a>
		</li>
		<li class="breadcrumb-item active">Rangos Renta</li>
	</ol>
	
	<div layout:fragment="content">
		<input type="hidden" th:if="${success_store}" id="success_store">
		<input type="hidden" th:if="${success_update}" id="success_update">
		<input type="hidden" th:if="${success_state != null}" id="success_state" th:value="${success_state}">

		<div class="container">
			<div class="row ml-5">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<ul th:if="${!#lists.isEmpty(errors)}" class="alert alert-danger ml-2 mr-2" role="alert">
						<li  class="ml-2" th:each="error : ${errors}" th:text="${error}"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row ml-3 mr-3">
			<div class="col-md-1"></div>
			<div class="col-md-10 ">
				<div class="card">
	            <div class="card-header text-right">
		            <a class="btn btn-sm btn-primary" title="Agregar Rango de Renta" th:href="@{/rango-renta/create}">
						<i class="fas fa-plus-circle mr-1 text-white"></i>
						<span class="text-white">Nuevo Rango de Renta</span>
					</a>
	              <h3 class="card-title"></h3>
	            </div>
					
					<div class="card-body">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
								  <th>Desde</th>
				                  <th>Hasta</th>
				                  <th>Procentaje</th>
				                  <th>Exceso</th>
				                  <th>Cuota fija</th>
								  <th>Periodicidad</th>
								  <th>Acciones</th>
				                </tr>
							</thead>
							<tbody>

								<tr th:each="rango_renta: ${rangos_renta}">
									<td class="min" th:text="${#numbers.formatCurrency(rango_renta.salarioMin)}"></td>
									<td class="text-center" th:if="${rango_renta.salarioMax == 0}"> - </td>
									<td class="max" th:unless="${rango_renta.salarioMax == 0}" th:text="${#numbers.formatCurrency(rango_renta.salarioMax)}"></td>
									<td th:text="${rango_renta.porcentajeRenta}"></td>
									<td th:text="${#numbers.formatCurrency(rango_renta.exceso)}"></td>
									<td th:text="${#numbers.formatCurrency(rango_renta.cuotaFija)}"></td>
									<th:block th:switch="${rango_renta.periodicidadRenta}">
										<td th:case="30">Mensualmente</td>
										<td th:case="15">Quincenalmente</td>
										<td th:case="7">Semanalmente</td>
									</th:block>
									<td class="text-center">
										<a class="btn btn-sm btn-primary mr-2" title="Editar" th:href="@{/rango-renta/edit/{id}(id=${rango_renta.idRangoRenta})}">
											<i class="fas fa-pencil-alt"></i>
										</a>
										<th:block th:if="${rango_renta.rangoRentaHabilitado}">
											<button class="btn btn-sm btn-danger mr-2" title="Deshabilitar" th:attr="data-change-state=${rango_renta.idRangoRenta}, data-state=false">
												<i class="fas fa-lock"></i>
											</button>
										</th:block>
										<th:block th:unless="${rango_renta.rangoRentaHabilitado}">
											<button class="btn btn-sm btn-success mr-2" title="Habilitar" th:attr="data-change-state=${rango_renta.idRangoRenta}, data-state=true">
												<i class="fas fa-unlock-alt"></i>
											</button>
										</th:block>	
									</td>
								</tr>
								<tr th:if="${#lists.isEmpty(rangos_renta)}">
				                	<td colspan="6">
				                		No hay Rangos de Renta almacenados
				                	</td>
				                </tr>
							</tbody>
							<tfoot>
								<tr>
								  <th>Desde</th>
				                  <th>Hasta</th>
				                  <th>Procentaje</th>
				                  <th>Exceso</th>
				                  <th>Cuota fija</th>
								  <th>Periodicidad</th>
								  <th>Acciones</th>
				                </tr>
							</tfoot>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
		</div>

		<!-- Modal para deshabilitar un Rango de Renta -->
		<div class="modal fade" id="changeStateRR" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Rango de Renta</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form method="POST" action="#" th:action="@{/rango-renta/destroy}">
		      	<input type="hidden" id="id-rr-destroy" name="id_rango_renta">
		      	<input type="hidden" id="state-rr" name="state">
			      <div class="modal-body">
			        <div class="form-group">
			            <p id="msg-destroy"></p>
			        </div>
			      </div>
			      <div class="modal-footer">
			      	<button id="btn-state" type="submit" class="btn btn-danger">Aceptar</button>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>

	</div>

	<!-- Scripts-->
	<section layout:fragment="scripts">

		<!-- DataTables -->
		<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
		<!-- Toastr -->
		<script th:src="@{/plugins/toastr/toastr.min.js}"></script>
		<!-- SweetAlert2 -->
		<script th:src="@{/plugins/sweetalert2/sweetalert2.min.js}"></script>

		<!-- page script -->
		<script>
			$(function() {
				var table = $("#example1").DataTable({
							"responsive" : true,
							"autoWidth" : false,
						});
				table.order( [ 5, 'asc' ])
    				.draw();

			});

			$('[data-change-state]').on('click', function(){
				var id_rr = $(this).data('change-state');
				var state = $(this).data('state');
				var message = $('#msg-destroy');
				var sal_min = $(this).parent().siblings('td.min').text();
				var sal_max = $(this).parent().siblings('td.max').text();

				console.log(sal_max);
				if(state==true){
					$('#btn-state').attr('class', 'btn btn-primary')
					if(sal_max == ""){
						message.html("¿Desea habilitar el Rango de Renta con salario desde " + sal_min + " en adelante?");
					}else{
						message.html("¿Desea habilitar el Rango de Renta con salario desde " + sal_min + " hasta " + sal_max + "?");
					}
				}else{
					$('#btn-state').attr('class', 'btn btn-danger')
					if(sal_max == ""){
						message.html("¿Desea deshabilitar el Rango de Renta con salario desde " + sal_min + " en adelante?");
					}else{
						message.html("¿Desea deshabilitar el Rango de Renta con salario desde " + sal_min + " hasta " + sal_max + "?");
					}
				}

				$('#id-rr-destroy').val(id_rr);
				$('#state-rr').val(state);

				$('#changeStateRR').modal('show');
			});

			var success = $('#success_store').val();
			if(success != null){
			    toastr.success('El Rango de Renta fue registrado con éxito');
			}
			var success = $('#success_update').val();
			if(success != null){
			    toastr.success('Los cambios fueron guardados con éxito');
			}
			var success = $('#success_state').val();
			if(success != null){
				var state = success == 'true' ? 'habilitado' : ' deshabilitado';
				
			    toastr.success('El Rango de Renta fue '+state+' con éxito');
			}
		</script>
		<!-- Scripts-->
	</section>

</body>
</html>