<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" th:href="@{/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/toastr/toastr.min.css}">

    <title>Sistema Planilla | Recursos de Rol</title>

</head>
<body>
<h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Recursos de rol: <b><span class="text-lowercase" th:text="${rol.authority}"></span></b></h1>
<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#" th:href="@{/index}">Home</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="#" th:href="@{/rol/index}">Roles</a>
    </li>
    <li class="breadcrumb-item active">Recursos del Rol</li>
</ol>

<div layout:fragment="content">

    <div class="row ml-3 mr-3">
        <span class="col-md-2"></span><!-- Para centrar DataTable -->
        <div class="col-md-8">
            <div class="card">

                <div class="card-header text-right">
                    <a class="btn btn-primary btn-sm"
                       href="#"
                       id="rolRecursoAsignarModalBtn"
                       data-toggle="modal"
                       data-target="#rolRecursoAsignarModal"
                       th:attr="
                       data-id-rol=${rol.idRol},
                       data-rol=${rol.authority}">

                        <i class="fas fa-plus-circle mr-1 text-white"></i>
                        <span class="text-white">Asignar Recurso al Rol</span>
                    </a>
                </div>

                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">

                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr th:each="recurso, iStat: ${recursos}">

                            <td><span th:text="${recurso.recurso}"></span></td>

                            <td class="text-center">
                                <a class="btn btn-primary btn-sm"
                                   href="#"

                                   data-toggle="modal"
                                   data-target="#rolRecursoPrivilegiosModal"
                                   th:attr="
                                   id='btnRecurso'+${recurso.idRecurso},
                                   data-id-rol=${rol.idRol},
                                   data-id-recurso=${recurso.idRecurso},
                                   data-recurso=${recurso.recurso}"
                                   title="Gestionar privilegios del recurso">
                                    <i class="fas fa-file-contract"></i>
                                </a>&nbsp;&nbsp;
                                <a class="btn btn-danger btn-sm"
                                   href="#"
                                   title="Denegar recursol al rol">
                                    <i class="far fa-times-circle"></i>
                                </a>
                            </td>

                        </tr>

                        <tr th:if="${#lists.isEmpty(recursos)}">
                            <td colspan="6">
                                A&uacute;n no se asignan recursos a este rol
                            </td>
                        </tr>

                        </tbody>

                        <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </tfoot>

                    </table>
                </div>

            </div>
        </div>
        <span class="col-md-2"></span><!-- Para centrar DataTable -->
    </div>

    <div th:insert="rol-recurso-privilegio/rol-recurso-privilegio-modal :: rol_recurso_modal"></div>

</div>

<section layout:fragment="scripts">

    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>

    <script th:src="@{/plugins/toastr/toastr.min.js}"></script>
    <script th:src="@{/plugins/sweetalert2/sweetalert2.min.js}"></script>

    <script th:src="@{/js/datatable/datatable.js}"></script>
    <script th:src="@{/js/errores/errores.js}"></script>
    <script th:src="@{/js/rol-recurso-privilegio/rol-recurso-privilegio.js}"></script>

</section>

</body>
</html>