<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="rol_recurso_modal">

    <!-- Modal para Agregar Recursos de Rol -->
    <div class="modal" id="rolRecursoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="rolRecursoModalTitle">Agregar Recurso al Rol</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal para Gestionar Permisos de Recurso de Rol -->
    <div class="modal bd-example-modal-lg" id="rolRecursoPrivilegiosModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <!--Header del Modal-->
                <div class="modal-header">
                    <h5 class="modal-title" id="rolRecursoPrivilegiosModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!--Body del Modal-->
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body row pt-2">

                            <!-- Tabla y formulario para privilegios asignados -->
                            <div class="col-md-6 text-center">

                                <span><b>Privilegios asignados</b></span>
                                <table id="tablaAsignados" class="table mt-2"></table>

                                <div id="eliminarFormDiv" class="d-none">
                                    <form id="eliminarForm" method="post" action="#" th:action="@{/rol-recurso-privilegio/eliminar}">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="idRolEliminarInput">Rol</label>
                                                <input type="text" id="idRolEliminarInput" name="idRolEliminar" class="form-control" placeholder="ID de Rol">
                                            </div>
                                            <div class="form-group">
                                                <label for="idRecursoInput">Recurso</label>
                                                <input type="text" id="idRecursoEliminarInput" name="idRecursoEliminar" class="form-control" placeholder="ID de Recurso">
                                            </div>
                                            <div class="form-group">
                                                <label for="idPrivilegioInput">Privilegio</label>
                                                <input type="text" id="idPrivilegioEliminarInput" name="idPrivilegioEliminar" class="form-control" placeholder="ID de Privilegio">
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" id="btnSubmitEliminar" class="btn btn-primary">Crear</button>
                                        </div>
                                    </form>
                                </div>

                            </div>

                            <!-- Tabla y formulario para privilegios no asignados -->
                            <div class="col-md-6 text-center border-left">

                                <span class="pl-2"><b>Privilegios no asignados</b></span>
                                <table id="tablaNoAsignados" class="table mt-2"></table>

                                <div id="asignarFormDiv" class="d-none">
                                    <form id="asignarForm" method="post" action="#" th:action="@{/rol-recurso-privilegio/asignar}">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="idRolInput">Rol</label>
                                                <input type="text" id="idRolInput" name="idRol" class="form-control" placeholder="ID de Rol">
                                            </div>
                                            <div class="form-group">
                                                <label for="idRecursoInput">Recurso</label>
                                                <input type="text" id="idRecursoInput" name="idRecurso" class="form-control" placeholder="ID de Recurso">
                                            </div>
                                            <div class="form-group">
                                                <label for="idPrivilegioInput">Privilegio</label>
                                                <input type="text" id="idPrivilegioInput" name="idPrivilegio" class="form-control" placeholder="ID de Privilegio">
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" id="btnSubmitAsignar" class="btn btn-primary">Crear</button>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <!--Body del Modal-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>