<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css}">

</head>

<body>
<h1 class="m-0 text-dark" layout:fragment="titulo_seccion"></h1>
<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
    <li class="breadcrumb-item"><a th:href="@{/empleado/index}">Empleados Registrados</a></li>
    <li class="breadcrumb-item active">Registrar Empleado</li>
</ol>
<div layout:fragment="content">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Registrar Empleado</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <div id="error_alert_div" class="alert alert-danger mt-2 mb-2 mr-2 ml-2" role="alert" hidden>
            <strong>Solucionar los siguientes problemas:</strong>
            <ul id="error_alert">

            </ul>
        </div>
        <div id="success_alert_div" class="alert alert-success mt-2 mb-2 mr-2 ml-2" role="alert" hidden>
            <ul id="success_alert">

            </ul>
        </div>

        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="personales-tab" data-toggle="tab" href="#personales" role="tab"
                       aria-controls="personales" aria-selected="true">Informacion Personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="documento-tab" data-toggle="tab" href="#documento" role="tab"
                       aria-controls="documentos" aria-selected="false">Documentos de Empleado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="direccion-tab" data-toggle="tab" href="#direccion" role="tab"
                       aria-controls="trabajo" aria-selected="false">Direccion de Empleado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="trabajo-tab" data-toggle="tab" href="#trabajo" role="tab"
                       aria-controls="trabajo" aria-selected="false">Informacion Profesional</a>
                </li>


                <li class="nav-item" id="usuario-tab" hidden>
                    <a class="nav-link" data-toggle="tab" href="#usuario" role="tab"
                       aria-controls="usuario" aria-selected="false">Usuario de Empleado</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <!--DATOS PERSONALES-->
                <div class="tab-pane fade show active" id="personales" role="tabpanel"
                     aria-labelledby="personales-tab">
                    <div class="container">
                        <div class="card-body">
                            <!--PRIMER COLUMNA-->
                            <form id="form1">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Primer Nombre *</label>
                                            <input th:field="*{empleado.nombrePrimero}" type="text" class="form-control"
                                                   placeholder="Primer Nombre">
                                        </div>
                                        <div class="form-group">
                                            <label for="secondName">Segundo Nombre</label>
                                            <input th:field="*{empleado.nombreSegundo}" type="text" class="form-control"
                                                   id="secondName" placeholder="Segundo Nombre">
                                        </div>
                                        <div class="form-group">
                                            <label for="bornDate">Fecha de Nacimiento * </label>
                                            <input th:field="*{empleado.fechaNacimiento}" type="date"
                                                   class="form-control" id="bornDate">
                                        </div>
                                        <div class="form-group">
                                            <label>Genero</label>
                                            <select id="genero_select" name="idGenero" class="form-control">
                                                <option th:each="g: ${generos}" th:value="${g.idGenero}">
                                                    <span th:text="${g.genero}"></span>
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--FIN PRIMER COLUMNA-->
                                    <!--SEGUNDA COLUMNA-->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="lastMName">Apellido Materno *</label>
                                            <input th:field="*{empleado.apellidoMaterno}" type="text"
                                                   class="form-control" id="lastMName" placeholder="Apellido Materno">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastPName">Apellido Paterno</label>
                                            <input th:field="*{empleado.apellidoPaterno}" type="text"
                                                   class="form-control" id="lastPName" placeholder="Apellido Paterno">
                                        </div>
                                        <div class="form-group">
                                            <label>Estado Civil</label>
                                            <select id="estadoCivil_select" name="idEstadoCivil" class="form-control">
                                                <option th:each="ec: ${estadosCiviles}" th:value="${ec.idEstadoCivil}">
                                                    <span th:text="${ec.estadoCivil}"></span>
                                                </option>
                                            </select>
                                        </div>
                                        <!--Only Woman-->
                                        <div class="form-group" id="divCasada" hidden>
                                            <label for="lastCName">Apellido Casada</label>
                                            <input th:field="*{empleado.apellidoCasada}" type="text"
                                                   class="form-control" id="lastCName" placeholder="Apellido Casada">
                                        </div>
                                    </div>
                                    <!--FIN SEGUNDA COLUMNA-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--DOCUMENTOS DE EMPLEADO-->
                <div class="tab-pane fade" id="documento" role="tabpanel"
                     aria-labelledby="personales-tab">
                    <div class="container">
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">

                                <thead>
                                <tr>
                                    <th>Tipo Documento</th>
                                    <th>Formato de Documento</th>
                                    <th>Ingrese Documento</th>
                                </tr>

                                <tbody>
                                <tr th:each="tipoDocumento: ${documentos}">

                                    <td><span th:text="${tipoDocumento.tipoDocumento}"></span></td>
                                    <td><span th:text="${tipoDocumento.formato}"></span></td>
                                    <td>
                                        <input type="text" th:name="documento_+${tipoDocumento.idTipoDocumento}"
                                               class="form-control">
                                    </td>
                                </tr>
                                </tbody>

                                <tfoot>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Formato de Documentos</th>
                                    <th>Ingrese Documentos</th>
                                </tr>
                                </tfoot>

                            </table>
                        </div>
                    </div>
                </div>

                <!--DIRECCION DE EMPLEADO-->
                <div class="tab-pane fade" id="direccion" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="container-fluid">
                        <div class="card-body">
                            <form action="" id="form2">
                                <div class="row">
                                    <!--PRIMER COLUMNA-->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Urbanizacion *</label>
                                            <input type="text" th:field="*{direccion.urbanizacion}"
                                                   class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Direccion Calle</label>
                                            <input type="text" th:field="*{direccion.calle}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Complemento </label>
                                            <input type="text" th:field="*{direccion.complemento}" class="form-control">
                                        </div>
                                    </div>
                                    <!--FIN PRIMER COLUMNA-->
                                    <!--SEGUNDA COLUMNA-->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Numero de Casa </label>
                                            <input type="tel" th:field="*{direccion.numeroCasa}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Departamento</label>
                                            <select id="departamento_select" name="departamento" class="form-control">
                                                <option th:each="departamento: ${departamentos}"
                                                        th:value="${departamento.idDepartamento}">
                                                    <span th:text="${departamento.departamento}"></span>
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Municipio</label>
                                            <select id="municipio_select" name="idMunicipio" class="form-control">
                                                <option th:each="municipio: ${municipios}"
                                                        th:value="${municipio.idMunicipio}">
                                                    <span th:text="${municipio.municipio}"></span>
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--FIN SEGUNDA COLUMNA-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--INFORMACION PROFESIONAL-->
                <div class="tab-pane fade" id="trabajo" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="container-fluid">
                        <div class="card-body">
                            <form id="form3">
                                <div class="row">
                                    <!--PRIMER COLUMNA-->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Codigo de Empleado *</label>
                                            <input type="text" th:field="*{empleado.codigo}" class="form-control"
                                                   placeholder="Codigo">
                                        </div>
                                        <div class="form-group">
                                            <label>Correo Institucional *</label>
                                            <input type="text" th:field="*{empleado.correoInstitucional}"
                                                   placeholder="Correo institucional" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Correo Personal</label>
                                            <input type="text" th:field="*{empleado.correoPersonal}"
                                                   placeholder="Correo personal" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Unidad Organizacional</label>
                                            <select id="unidadSelect" name="idUnidadOrganizacional"
                                                    class="form-control">mt-4
                                                <option th:each="uo: ${unidades}"
                                                        th:value="${uo.idUnidadOrganizacional}">
                                                    <span th:text="${uo.unidadOrganizacional}"></span>
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--FIN PRIMER COLUMNA-->
                                    <!--SEGUNDA COLUMNA-->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Salario Base Mensual ($) *</label>
                                            <input type="number" th:field="*{empleado.salarioBaseMensual}"
                                                   class="form-control" min="1">
                                        </div>
                                        <div class="form-group">
                                            <label>Horas de Trabajo *</label>
                                            <input type="number" th:field="*{empleado.horasTrabajo}"
                                                   class="form-control" min="1" value="1">
                                        </div>
                                        <div class="form-group">
                                            <label>Puesto de Trabajo</label>
                                            <select id="puestos_select" name="idPuesto" class="form-control">mt-4
                                                <option th:each="p: ${puestos}" th:value="${p.idPuesto}">
                                                    <span th:text="${p.puesto}"></span>
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--FIN SEGUNDA COLUMNA-->
                                </div>
                            </form>
                            <div class="row mt-4">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Seleccione Profesion/Oficio *</label>
                                        <hr>
                                        <table id="example2" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Profesi&oacute;n/Oficio</th>
                                                <th class="text-center">Seleccionar</th>
                                            </tr>
                                            <tbody>
                                            <tr th:each="p: ${profesiones}">

                                                <td><span th:text="${p.profesion}"></span></td>

                                                <td>
                                                    <span th:if="${p.esProfesion}">Profesi&oacute;n</span>
                                                    <span th:unless="${p.esProfesion}">Oficio</span>
                                                </td>

                                                <td>
                                                    <div class="custom-control custom-checkbox text-center">
                                                        <input type="checkbox" name="profesiones_seleccion[]"
                                                               class="custom-control-input"
                                                               th:id="profesion+${p.idProfesion}"
                                                               th:value="${p.idProfesion}">
                                                        <label class="custom-control-label"
                                                               th:for="profesion+${p.idProfesion}"><span></span></label>
                                                    </div>
                                                </td>

                                            </tr>
                                            </tbody>

                                            <tfoot>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Profesi&oacute;n/Oficio</th>
                                                <th class="text-center">Seleccionar</th>
                                            </tr>
                                            </tfoot>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--USUARIO DE EMPLEADO-->
                <div class="tab-pane fade" id="usuario" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="container-fluid">
                        <div class="container">
                            <div class="card-body">
                                <!--PRIMER COLUMNA-->
                                <form id="form4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Nombre de usuario *</label>
                                                <input th:field="*{user.username}" type="text" class="form-control"
                                                       placeholder="Nombre Usuario (Unico)">
                                            </div>

                                            <div class="form-group mt-2">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="blockEmployee" th:field="*{user.enabled}">
                                                    <label class="custom-control-label" for="blockEmployee">Deshabilitar Usuario</label>
                                                    <small id="emailHelp" class="form-text text-muted">Seleccione para deshabilitar usuario, en caso contrario estara habilitado.</small>
                                                </div>
                                            </div>

                                        </div>
                                        <!--FIN PRIMER COLUMNA-->
                                        <!--SEGUNDA COLUMNA-->
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="secondName">Constraseña *</label>
                                                <input th:field="*{user.password}" type="password" class="form-control"
                                                       placeholder="Constraseña">
                                            </div>
                                        </div>
                                        <!--FIN SEGUNDA COLUMNA-->
                                    </div>

                                <!----------------CÓDIGO PARA LA ASIGNACIÓN DE ROLES--------------------->
                                <br>
                                <div class="card card-default">
                                  <div class="card-header">
                                    <h3 class="card-title">Asignación de Roles</h3>

                                    <div class="card-tools">
                                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                  </div>
                                  <!-- /.card-header -->
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-12">
                                        <div class="form-group">
                                          <label>De clic sobre los roles que le desea asignar al usuario</label>
                                          <select class="duallistbox" multiple="multiple" name="roles[]">
                                            <div th:each="r : ${roles}">
                                                <option th:value="${r.idRol}" th:text="${r.authority}">No hay roles</option>
                                            </div>
                                          </select>
                                        </div>
                                        <!-- /.form-group -->
                                      </div>
                                      <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                  </div>
                                  <!-- /.card-body -->
                                </div>
                                <!----------------FIN COÓDIGO PARA LA ASIGNACIÓN DE ROLES--------------------->

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer text-right">
            <button id="save" type="button" class="btn btn-primary">Guardar Datos</button>
            <a type="button" class="btn btn-default" th:href="@{/empleado/index}">Cancelar</a>
        </div>
    </div>
</div>


<section layout:fragment="scripts">
    <!-- DataTables -->
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js}"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $("#example2").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
        });
        $(document).ready(function () {
            var idGenero = $("#genero_select").val();
            var idPuesto = $("#puestos_select").val();
            $.get('/api/genero/' + idGenero, function (data) {
                if (data.genero == "Mujer") {
                    $("#divCasada").removeAttr("hidden");
                } else {
                    $("#divCasada").attr("hidden", "hidden")
                }
            });
            $.get('/api/required-user/' + idPuesto, function (data) {
                if (data == true) {
                    $("#usuario-tab").removeAttr("hidden");
                } else {
                    $("#usuario-tab").val("");
                    $("#usuario-tab").attr("hidden", "hidden")
                }
            });
        });
    </script>

    <script type="text/javascript">
        $("#departamento_select").on('change', function () {
            var idDepartamento = $(this).val();
            $.get('/api/municipios/' + idDepartamento, function (data) {
                var options = "";
                for (var i = 0; i < data.length; i++) {
                    var municipio = data[i];
                    options += '<option value="' + municipio.idMunicipio + '">' +
                        municipio.municipio
                        + '</option>'
                }

                document.getElementById("municipio_select").innerHTML = options;
            });
        });

        $("#genero_select").on('change', function () {
            var idGenero = $(this).val();
            $.get('/api/genero/' + idGenero, function (data) {
                if (data.genero == "Mujer") {
                    $("#divCasada").removeAttr("hidden");
                } else {
                    $("#lastCName").val("");
                    $("#divCasada").attr("hidden", "hidden")
                }
            });
        });
        /*Funcion para activar zona de usuario segun puesto*/
        $("#puestos_select").on('change', function () {
            var idPuesto = $(this).val();
            $.get('/api/required-user/' + idPuesto, function (data) {
                if (data == true) {
                    $("#usuario-tab").removeAttr("hidden");
                } else {
                    $("#usuario-tab").val("");
                    $("#usuario-tab").attr("hidden", "hidden")
                }
            });
        });

        $("#save").on("click", function () {
            $("#save").attr("disabled", "disabled");
            $("#save").text("Enviando");
            var tabla_prof = $("#example2").DataTable();
            var tabla_docs = $("#example1").DataTable();
            var data_prof = tabla_prof.$('input').serialize();
            var data_docs = tabla_docs.$('input').serialize();

            $.ajax({
                type: "POST",
                url: "/empleado/store",
                data: $("#form1").serialize() + "&" + $("#form2").serialize() + "&" + $("#form3").serialize() + "&" + $("#form4").serialize()+ "&" + data_prof + "&" + data_docs,
                dataType: "json",
                success: function (data) {
                    window.location.href = document.location.origin + "/empleado/index";
                },
                error: function (data) {
                    var error_div = $("#error_alert_div");
                    error_div.removeAttr("hidden");
                    console.log(data);
                    var m = "";
                    $.each(data.responseJSON, function (key, value) {
                        console.log(value);
                        m += "<li>" + value + "</li>";
                    });

                    document.getElementById("error_alert").innerHTML = m;
                    //Para mover al inicio de la pagina el control
                    $('html, body').animate({
                        scrollTop: 0
                    }, 'slow');

                    $("#success_alert_div").attr("hidden", "hidden");
                    $("#save").removeAttr("disabled");
                    $("#save").text("Guardar Datos");
                }
            })
        });
    </script>

    <script>
        $('.duallistbox').bootstrapDualListbox()
    </script>
</section>

</body>
</html>