<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head> 
<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- SweetAlert2 -->
  	<link rel="stylesheet" th:href="@{/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
	<!-- Toastr -->
  	<link rel="stylesheet" th:href="@{/plugins/toastr/toastr.min.css}">
</head>
<body>
	
	<h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Generos</h1>

	<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a href="#" th:href="@{/index}">Home</a></li>
        <li class="breadcrumb-item active">Generos</li>
    </ol>

	<div layout:fragment="content">
	
		<input type="hidden" id="store" th:if="${store_success != null}" value="true">
		<input type="hidden" id="update" th:if="${update_success != null}" value="true">
		<input type="hidden" id="delete_success" th:if="${delete_success != null}" value="true">
		<input type="hidden" id="delete_restricted" th:if="${delete_restricted != null}" value="true">
		<input type="hidden" id="update_restricted" th:if="${update_restricted != null}" value="true">
		<input type="hidden" id="store_restricted" th:if="${store_restricted != null}" value="true">
		
		<!-- Modal para Agregar Genero -->
		<div class="modal" id="generoModal" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Crear Genero</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form method="post" action="#" th:action="@{/genero/store}" th:object="${generoEntity}">
			      <div class="modal-body">
			        <div class="form-group">
					    <label for="generoInput">Genero: *</label>
					    <input type="text" th:field="*{genero}" class="form-control" id="generoInput" placeholder="Ingrese el titulo del genero..." required="required">
					  </div>
			      </div>
			      <div class="modal-footer">
			        <button type="submit" class="btn btn-primary">Guardar</button>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>
		
		<!-- Alert de exito al almacenar nuevo genero -->
		<!--<div th:if="${store_success != null}" class="alert alert-info offset-1 col-md-10" role="alert" style="margin-top: 8px">
			Agregado exitosamente!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			</button>
		</div>-->
		
		<!-- Alert de exito al actualizar genero -->
		<!--<div th:if="${update_success != null}" class="alert alert-info alert-dismissible fade show offset-1 col-md-10" role="alert" style="margin-top: 8px">
			Actualizado exitosamente!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			</button>
		</div>-->
		
		<!-- Alert de exito al eliminar genero -->
		<!--<div th:if="${delete_success != null}" class="alert alert-info alert-dismissible fade show offset-1 col-md-10" role="alert" style="margin-top: 8px">
			Eliminado exitosamente!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			</button>
		</div>-->
		
		<!-- Alert de restriccion al eliminar genero -->
		<!--<div th:if="${delete_restricted != null}" class="alert alert-warning alert-dismissible fade show offset-1 col-md-10" role="alert" style="margin-top: 8px">
			No es posible eliminar el Genero, ya que hay Empleados que lo poseen!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			</button>
		</div>-->
		
		<!-- DataTable de Generos -->
		<div class="row ml-3 mr-3">
			
			<div class="offset-1 col-md-10">
			 <div class="card">
	            <div class="card-header text-right">
		            <button class="btn btn-md btn-primary" title="Agregar Genero" data-toggle="modal" data-target="#generoModal">
						<i class="fas fa-plus-circle mr-1 text-white"></i>
						<span class="text-white">Nuevo Genero</span>
					</button>
	              <h3 class="card-title"></h3>
	            </div>
	            <!-- /.card-header -->
	            <div class="card-body">
	              <table id="example1" class="table table-bordered table-striped">
	                <thead>
	                <tr>
	                  <th>Genero</th>
					  <th>Acciones</th>
	                </tr>
	                </thead>
	                <tbody>
	                <tr th:each="genero: ${generos}">
	                  <td><span th:text="${genero.genero}"></span></td>
						<td>						
							<button class="btn btn-sm btn-primary" th:attr="data-idGenero=${genero.idGenero}, data-genero=${genero.genero}" 
									onclick="activateModalEdit(this);" style="text-decoration: none; color: white;"
									title="Editar">
									
								<span><i class="fas fa-pencil-alt"></i></span>
								
							</button>
							
							<button class="btn btn-sm btn-danger" th:attr="data-idGenero=${genero.idGenero}, data-genero=${genero.genero}" 
									onclick="activateModalDestroy(this);" title="Eliminar"
									style="text-decoration: none; color: white;">
									
								<i class="fas fa-trash"></i>
								
							</button>
						</td>
	                </tr>
	                
	                <tr th:if="${#lists.isEmpty(generos)}">
	                	<td colspan="2">
	                		No hay Generos actualmente.
	                	</td>
	                </tr>
	                              
	                </tbody>
	                <tfoot>
	                <tr>
	                  <th>Genero</th>
					  <th>Acciones</th>
	                </tr>
	                </tfoot>
	              </table>
	            </div>
	            <!-- /.card-body -->
	          </div>
	          <!-- /.card -->
		
			</div>
		</div>
		
		<!-- Modal para Editar Genero -->
		<div class="modal" id="generoModalEdit" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Editar Genero</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form method="post" action="#" th:action="@{/genero/update}">
			      <div class="modal-body">
			        <div class="form-group">
					    <label for="generoInput">Genero:</label>
					    <input type="hidden" class="form-control" id="idGeneroInputEdit" name="idGenero" value="">
					    <input type="text" class="form-control" id="generoInputEdit"  name="genero" value="" required="required">
					  </div>
			      </div>
			      <div class="modal-footer">
			        <button type="submit" class="btn btn-primary">Actualizar</button>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>
	
	
	<!-- Modal para Confirmar Eliminacion de Genero -->
		<div class="modal" id="generoModalDestroy" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Eliminar Genero</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form method="post" action="#" th:action="@{/genero/destroy}">
			      <div class="modal-body">
			        <div class="form-group">
					    <div id="divMessage"></div>
					    <input type="hidden" class="form-control" id="idGeneroInputDestroy" name="idGeneroDestroy" value="">				
					  </div>
			      </div>
			      <div class="modal-footer">
			        <button type="submit" class="btn btn-danger">Confirmar</button>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>
	</div>
	
	<section layout:fragment="scripts">
		
		<!-- DataTables -->
	  	<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
	  	<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
		<!-- Toastr -->
		<script th:src="@{/plugins/toastr/toastr.min.js}"></script>
		<!-- SweetAlert2 -->
		<script th:src="@{/plugins/sweetalert2/sweetalert2.min.js}"></script>
		
		<script type="text/javascript">
		
		function activateModalEdit(param){
			  
		  	var id_genero = $(param).attr("data-idGenero");
		  	var genero = $(param).attr("data-genero");
		  	
		  	$("#idGeneroInputEdit").val(id_genero);
		  	$("#generoInputEdit").val(genero);
			
		  	$("#generoModalEdit").modal();
		}
	  
		  function activateModalDestroy(param){
			  
			  var id_genero = $(param).attr("data-idGenero");
			  var genero = $(param).attr("data-genero");
			  document.getElementById("divMessage").innerHTML = "<p>Esta seguro que desea eliminar el genero: <b>" + genero + "</b>?</p>";
			  $("#idGeneroInputDestroy").val(id_genero);
			  
			  $("#generoModalDestroy").modal();
		  }
		  
		  $(function () {
			    $("#example2").DataTable({
			      "responsive": true,
			      "autoWidth": false,
			    });
			    $('#example1').DataTable({
			      "paging": true,
			      "lengthChange": false,
			      "searching": true,
			      "ordering": true,
			      "info": true,
			      "autoWidth": false,
			      "responsive": true,
			      "pageLength": 5,
			    });
			  });
		  
		  
		
		</script>
		<script type="text/javascript"> 
		
		$(document).ready(function(){
			  var store = $('#store').val();
			  var update = $('#update').val();
			  var update_restricted = $('#update_restricted').val();
			  var delete_success = $('#delete_success').val();
			  var delete_restricted = $('#delete_restricted').val();
			  var store_restricted = $('#store_restricted').val();
			 
			  setTimeout(function() {
			    $(".alert").fadeOut();           
			  },3000);
			  
			  if(store === 'true'){
				 toastr.success("Genero creado con éxito"); 
			  }
			  if(update === 'true'){
				 toastr.success("Genero actualizado con éxito"); 
			  }
			  if(delete_success === 'true'){
				 toastr.success("Genero eliminado"); 
			  }
			  if(delete_restricted === 'true'){
				 toastr.warning("No es posible eliminar el Genero, ya que hay Empleados que lo poseen!"); 
			  }
			  if (update_restricted === 'true' || store_restricted === 'true'){
				 toastr.warning("El campo Genero no puede quedar vacio");  
			  }
			
			});
		 
		</script>
	</section>

</body>
</html>