<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="delete_modal">

    <!-- Modal para confirmar eliminacion de Recurso -->
    <div class="modal" id="recursoModalDestroy" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <!-- Header del Modal -->
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Recurso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Formulario para confirmar eliminación de Recurso -->
                <form method="post" th:action="@{/recurso/destroy}">

                    <!-- Body del Modal -->
                    <div class="modal-body">
                        <div class="form-group">
                            <strong><span id="destroyMessage"></span></strong><br>
                            <span id="destroyInfoMessage"></span>
                            <input type="hidden" class="form-control" id="idRecursoInputDestroy" name="idRecursoDestroy">
                        </div>
                    </div>

                    <!-- Footer del Modal -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>

</body>
</html>