<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
</head>

<body>
	
	<h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Editar Perfil de Empresa</h1>

	<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Empresa</li>
    </ol>

	<div layout:fragment="content">
		<form action="#" method="post" th:action="@{/empresa/perfil/update}" th:object="${empresaEntity}">
			<div class="offset-3 col-md-6">
				<div class="form-group">
					<label>Nombre de Empresa: </label>
					<input type="text" th:field="*{empresa}" class="form-control">
				</div>
				<div class="form-group">
					<label>Correo electronico: </label>
					<input type="text" th:field="*{correoEmpresa}" class="form-control">
				</div>
				<div class="form-group">
					<label>NIC: </label>
					<input type="text" th:field="*{nicEmpresa}" class="form-control">
				</div>
				<div class="form-group">
					<label>NIT: </label>
					<input type="text" th:field="*{nitEmpresa}" class="form-control">
				</div>
				<div class="form-group">
					<label>Twitter: </label>
					<input type="text" th:field="*{page}" class="form-control">
				</div>
				<div class="form-group">
					<label>Sitio web: </label>
					<input type="text" th:field="*{paginaEmpresa}" class="form-control">
				</div>
				<div class="form-group">
					<label>Telefono: </label>
					<input type="tel" th:field="*{telefono}" class="form-control">
				</div>
				<div class="form-group">
					<label>Direccion Calle: </label>
					<input type="tel" th:field="*{direccion.calle}" class="form-control">
				</div>
				<div class="form-group">
					<label>Urbanizacion: </label>
					<input type="tel" th:field="*{direccion.urbanizacion}" class="form-control">
				</div>
				<div class="form-group">
					<label>Complemento: </label>
					<input type="tel" th:field="*{direccion.complemento}" class="form-control">
				</div>
				<div class="form-group">
					<label>Numero de Casa: </label>
					<input type="tel" th:field="*{direccion.numeroCasa}" class="form-control">
				</div>
				  <div class="form-group">
					<label>Departamento: </label>
					<select id="departamento_select" name="departamento" class="form-control">
						<option th:each="departamento: ${departamentos}" th:selected="*{direccion.municipio.departamento.idDepartamento} == ${departamento.idDepartamento}" th:value="${departamento.idDepartamento}">
							<span th:text="${departamento.departamento}"></span>
						</option>
					</select>
				</div> 
				<div class="form-group">
					<label>Municipio: </label>
					<select name="municipio" class="form-control">
						<option th:each="municipio: ${municipios}" th:selected="*{direccion.municipio.idMunicipio} == ${municipio.idMunicipio}" th:value="${municipio.idMunicipio}">
							<span th:text="${municipio.municipio}"></span>
						</option>
					</select>
				</div> 
				<input type="submit" class="btn btn-primary" value="Guardar">
				<a class="btn btn-secondary" href="#" th:href="@{/empresa/perfil/show}">Cancelar</a>
			</div>
		</form>
	</div>
	
	
	<section layout:fragment="scripts">
		<script type="text/javascript">
			$("#departamento_select").on('change', function(){
				alert("Ajax");
			});
		</script>
	</section>

</body>
</html>