<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
</head>

<body>
	
	<h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Perfil de la Empresa</h1>

	<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Empresa</li>
    </ol>

	<div layout:fragment="content">
		<!-- Alert de exito al actualizar genero -->
		<div th:if="${update_success != null}" class="alert alert-info alert-dismissible fade show offset-1 col-md-10" role="alert" style="margin-top: 8px">
			Actualizado exitosamente!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    	<span aria-hidden="true">&times;</span>
		    </button>
		</div>
		
		<h1 style="text-align: center;">
			<span th:text="${empresaEntity.empresa}"> Empresa </span>
		</h1>
		
		<div class="card offset-2 col-md-8">
		  <img class="card-img-top offset-3 col-md-6" height="250" th:src="@{/img/metabit.png}" th:alt="${empresaEntity.empresa}">
		  <div class="card-body">
		  
		  <table class="table table-bordered table-hover">
		  	<tr>
		  		<td><b>Correo electronico</b></td>
		  		<td th:text="${empresaEntity.correoEmpresa}"></td>	
		  	<tr>
		  	<tr>
		  		<td><b>Telefono</b></td>
		  		<td th:text="${empresaEntity.telefono}"></td>	
		  	<tr>
		  	<tr>
		  		<td><b>Twitter</b></td>
		  		<td th:text="${empresaEntity.page}"></td>	
		  	<tr>
		  	<tr>
		  		<td><b>Sitio web</b></td>
		  		<td th:text="${empresaEntity.paginaEmpresa}"></td>	
		  	<tr>
		  	<tr>
		  		<td><b>NIC</b></td>
		  		<td th:text="${empresaEntity.nicEmpresa}"></td>	
		  	<tr>
		  	<tr>
		  		<td><b>NIT</b></td>
		  		<td th:text="${empresaEntity.nitEmpresa}"></td>	
		  	<tr>
		  	<tr>
		  		<td colspan="2">
		  			<p class="card-text"><b>Direccion</b></p>
		  		</td>
		  	</tr>
		  	<tr>
		  		<td colspan="2">
		  			<div th:if="${empresaEntity.direccion.calle}">
		  				<p><i>Calle: </i> <span th:text="${empresaEntity.direccion.calle + ','}"></span></p>	
		  			</div>
		  			<div th:if="${empresaEntity.direccion.urbanizacion}">
		  				<p><i>Urbanizacion: </i> <span th:text="${empresaEntity.direccion.urbanizacion + ','}"></span></p>
		  			</div>
		  			<div th:if="${empresaEntity.direccion.complemento}">
		  				<p><i>Complemento: </i> <span th:text="${empresaEntity.direccion.complemento + ','}"></span></p>
		  			</div>
		  			<div th:if="${empresaEntity.direccion.numeroCasa}">
		  				<p><i>Numero de casa: </i> <span th:text="${empresaEntity.direccion.numeroCasa + ','}"></span></p>
		  			</div>
		  			<div th:if="${empresaEntity.direccion.municipio}">
		  				<p><i>Municipio: </i> <span th:text="${empresaEntity.direccion.municipio.municipio + ','}"></span></p>
		  			</div>
		  			<div th:if="${empresaEntity.direccion.municipio.departamento}">
		  				<p><i>Departamento: </i> <span th:text="${empresaEntity.direccion.municipio.departamento.departamento + '.'}"></span></p>
		  			</div> 
		  		</td>
		  	</tr>
		  </table><br/>
		  
		  <a th:href="@{/empresa/perfil/edit}" class="btn btn-primary">
		   		<span><i class="fas fa-pencil-alt"></i></span>
		   </a>
		   
		   <a th:href="@{/planilla/index}" class="btn btn-secondary">
		   		<span><i class="fas fa-home"></i></span>
		   </a>
		   
		  </div>
		</div>
	</div>
	
	
	<section layout:fragment="scripts">
	</section>

</body>
</html>