<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Sistema Planilla | Crear Profesi&oacute;n</title>
</head>

<body>

    <h1 class="m-0 text-dark" layout:fragment="titulo_seccion"></h1>

    <ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a href="#" th:href="@{/index}">Home</a></li>
        <li class="breadcrumb-item"><a href="#" th:href="@{/profesion/index}">Profesiones</a></li>
        <li class="breadcrumb-item active">Crear</li>
    </ol>

    <div layout:fragment="content">

        <div class="row">
            <!-- left column -->
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">
                        <h3 class="card-title">Nueva Profesi&oacute;n u Oficio</h3>
                    </div>
                    <!-- /.card-header -->

                    <!-- form start -->
                    <form role="form"
                          class="user" action="#"
                          th:action="@{/profesion/form-post}"
                          th:object="${profesionEntity}" method="POST">

                        <div class="card-body">
                            <input type="hidden" class="form-control form-control-user" th:field="*{idProfesion}">

                            <div class="form-group">
                                <label for="profesion">Nombre *</label>
                                <input required type="text" class="form-control" id="profesion" placeholder="Nombre de Profesi&oacute;n u Oficio"
                                       th:field="*{profesion}"
                                       th:value="${profesion}">
                            </div>

                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="esProfesion"
                                           th:field="*{esProfesion}"
                                           th:value="${esProfesion}">
                                    <label class="custom-control-label" for="esProfesion">¿Es una Profesi&oacute;n?</label>
                                    <small id="emailHelp" class="form-text text-muted">Si se trata de un oficio, dejar sin marcar.</small>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Crear</button>
                            <a type="button" class="btn btn-default" href="#" th:href="@{/profesion/index}">Cancelar</a>
                        </div>

                    </form>

                </div>
                <!-- /.card -->
            </div>
        </div>

    </div>
    <section layout:fragment="scripts">
    </section>

</body>
</html>