<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="privilegio_modal">

    <!-- Modal para registro/edición/consulta de Privilegios -->
    <div class="modal" id="privilegioModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <!-- Header del Modal -->
                <div class="modal-header">
                    <h5 class="modal-title" id="privilegioModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Formulario para registro/edición/consulta de Privilegio -->
                <form id="privilegioForm" method="post" th:action="@{/privilegio/store}" th:object="${privilegioEntity}">

                    <!-- Body del Modal -->
                    <div class="modal-body">

                        <div class="form-group d-none">
                            <label for="idPrivilegioInput">ID</label>
                            <input type="text" th:field="*{idPrivilegio}" class="form-control" id="idPrivilegioInput" placeholder="ID de Privilegio">
                        </div>

                        <div class="form-group">
                            <label for="privilegioInput">Nombre *</label>
                            <input type="text" th:field="*{privilegio}" class="form-control" id="privilegioInput" placeholder="Nombre del Privilegio">
                        </div>

                        <!-- Sección para mostrar errores dinámicamente -->
                        <div id="errorDiv" class="callout callout-danger">
                            <p class="my-0"><i class="fas fa-exclamation-circle mr-2"></i><strong id="messageStrong">Por favor, corregir los siguientes errores:</strong></p>
                            <ul id="errorUl" class="mb-0">
                            </ul>
                        </div>

                    </div>

                    <!-- Footer del Modal -->
                    <div class="modal-footer">
                        <button type="button" id="privilegioCancelarBtn" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" id="privilegioSubmitBtn" class="btn btn-primary">Crear</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>

</body>
</html>