<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- SweetAlert2 -->
	<link rel="stylesheet" th:href="@{/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
	<!-- Toastr -->
	<link rel="stylesheet" th:href="@{/plugins/toastr/toastr.min.css}">
</head>
<body>

	<h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Tipos de Movimiento</h1>

	<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#" th:href="@{/index}">Home</a>
		</li>
		<li class="breadcrumb-item active">Tipos de Movimiento</li>
	</ol>
	
	<div layout:fragment="content">	
	
		<input type="hidden" id="store" th:value="${store_success}">
		<input type="hidden" id="update" th:value="${update_success}">
		<input type="hidden" id="delete" th:value="${delete_success}">
		<input type="hidden" id="enable" th:value="${enable_success}">
		<input type="hidden" id="disable" th:value="${disable_success}">
		
		<div class="row ml-3 mr-3">
			<div class="col-md-12 ">
				<div class="card">
				
					<div class="card-header text-right">
						<a href="#" th:href="@{/tipo-movimiento/form-tipo-movimiento}"
							type="button" class="btn btn-sm btn-primary"> 
							<i class="fas fa-plus-circle mr-1 text-white"></i> 
							<span class="text-white">Nuevo Tipo de Movimiento</span>
						</a>
					</div>
					
					<div class="card-body">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Movimiento</th>
									<th>Ingreso/Descuento</th>
									<th>Fijo/No Fijo</th>
									<th>Monto Base</th>
									<th>Porcentaje</th>
									<th>Habilitado/deshabilitado</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tipoMovimiento: ${tiposMovimiento}">
									<td><span th:text="${tipoMovimiento.movimiento}"></span></td>									
									<td th:if="${tipoMovimiento.esDescuento}"> Descuento </td>
									<td th:unless="${tipoMovimiento.esDescuento}">Ingreso </td>
									<td th:if="${tipoMovimiento.esFijo}"> Fijo </td>
									<td th:unless="${tipoMovimiento.esFijo}">No fijo</td>
									<td><span th:text=" '$'+ ${#numbers.formatDecimal(tipoMovimiento.montoBase, 1, 'COMMA', 2, 'POINT')}"></span></td>
									<td th:text="${tipoMovimiento.porcentajeMovimiento} + '%'"></td>
									<td th:if="${tipoMovimiento.tipoMovimientoHabilitado}"> Habilitado </td>
									<td th:unless="${tipoMovimiento.tipoMovimientoHabilitado}">Deshabilitado </td>
									<td>	
												 
				                        <div class="btn-group">
				                          <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown" title="Click para ver opciones">
				                          	<span>Accion</span>
				                          </button>
				                          <div class="dropdown-menu">
				                          
				                            <a class="dropdown-item" href="#" title="Editar Tipo de Movimiento"
				                            	th:href="@{'/tipo-movimiento/form-tipo-movimiento/'+${tipoMovimiento.idMovimiento} + ''}">
												<i class="far fa-edit mr-3"></i>Editar
											</a>
				                            
				                            <button class="dropdown-item" title="Eliminar Tipo de Movimiento"
				                             th:attr="data-idTipoMovimiento=${tipoMovimiento.IdMovimiento}, data-movimiento=${tipoMovimiento.movimiento}" 
												onclick="activateModalDestroy(this)">
												<i class="far fa-trash-alt mr-3" ></i> Eliminar
											</button>
											
											<button th:if="${tipoMovimiento.tipoMovimientoHabilitado}" class="dropdown-item" title="Deshabilitar Tipo de Movimiento"
                                           		th:attr="data-idTipoMovimiento=${tipoMovimiento.idMovimiento}, data-movimiento=${tipoMovimiento.movimiento}" 
                                           		onclick="activateModalDisable(this)">
											<i class="fas fa-lock mr-3"></i> Deshabilitar
											</button>
											
											<button th:unless="${tipoMovimiento.tipoMovimientoHabilitado}" class="dropdown-item" title="Habilitar Tipo de Movimiento"
												th:attr="data-idTipoMovimiento=${tipoMovimiento.idMovimiento}, data-movimiento=${tipoMovimiento.movimiento}"
                                           		onclick="activateModalEnable(this)">
												<i class="fas fa-unlock mr-3"></i> Habilitar
											</button>
											
				                          </div>
				                        </div>
										
									</td>
								</tr>
								<tr th:if="${#lists.isEmpty(tiposMovimiento)}">
				                	<td colspan="6">
				                		No hay Tipos de Movimiento actualmente.
				                	</td>
				                </tr>
							</tbody>
							<tfoot>
								<tr>
									<th>Movimiento</th>
									<th>Ingreso/Descuento</th>
									<th>Fijo/No Fijo</th>
									<th>Monto Base</th>
									<th>Porcentaje</th>
									<th>Habilitado/deshabilitado</th>
									<th>Acciones</th>
								</tr>
							</tfoot>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
		</div>
		
		<!-- MODALS -->
		<!-- Modal para Confirmar Eliminacion de Tipo de Movimiento -->
		<div class="modal" id="tipoMovimientoModalDestroy" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Eliminar tipo de movimiento</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form method="post" action="#" th:action="@{/tipo-movimiento/destroy}">
			      <div class="modal-body">
			        <div class="form-group">
					    <div id="divMessage"></div>
					    <input type="hidden" class="form-control" id="idTipoMovimientoInputDestroy" name="idTipoMovimientoDestroy" value="">				
					</div>
					<div class="callout callout-warning" id="validacionEliminacion" style="display:none;">
	                  <small id="emailHelp" class="form-text text-muted">
	                  	<i class="fas fa-exclamation-circle mr-2"></i> 
	                  	No puede eliminar este tipo movimiento, debido a que ha sido asignado a uno o más movimientos.
	                  </small>
	                </div>
			      </div>
			      <div class="modal-footer">
			        <button type="submit" id="submitEliminacion" class="btn btn-danger">Confirmar</button>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>
		
		<!-- Modal para Confirmar Habilitar Tipo de Movimiento -->
		<div class="modal" id="tipoMovimientoModalEnable" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Habilitar tipo de movimiento</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form method="post" action="#" th:action="@{/tipo-movimiento/enable}">
			      <div class="modal-body">
			        <div class="form-group">
					    <div id="divMessageEnable"></div>
					    <input type="hidden" class="form-control" id="idTipoMovimientoInputEnable" name="idTipoMovimientoEnable" value="">				
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="submit" id="submitEnable" class="btn btn-info">Confirmar</button>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>
		
		<!-- Modal para Confirmar Desabilitar Tipo de Movimiento -->
		<div class="modal" id="tipoMovimientoModalDisable" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Deshabilitar tipo de movimiento</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form method="post" action="#" th:action="@{/tipo-movimiento/disable}">
			      <div class="modal-body">
			        <div class="form-group">
					    <div id="divMessageDisable"></div>
					    <input type="hidden" class="form-control" id="idTipoMovimientoInputDisable" name="idTipoMovimientoDisable" value="">				
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="submit" id="submitDisable" class="btn btn-danger">Confirmar</button>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>
		<!-- /MODALS -->
		
	</div>

	<!-- Scripts-->
	<section layout:fragment="scripts">

		<!-- DataTables -->
		<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
		<!-- Toastr -->
		<script th:src="@{/plugins/toastr/toastr.min.js}"></script>
		<!-- SweetAlert2 -->
		<script th:src="@{/plugins/sweetalert2/sweetalert2.min.js}"></script>
		
		<!-- para uso de modals -->
		<script th:src="@{/js/tipo-movimiento/modals.js}"></script>
		<!-- mensajes de store, update y delete -->
		<script th:src="@{/js/tipo-movimiento/mensajes.js}"></script>
		<!-- page script -->
		<script>
			$(function() {
				$("#example1").DataTable({
					"responsive" : true,
					"autoWidth" : false,
				});
			});	
		</script>
		<!-- Scripts-->
	</section>

</body>
</html>