<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="rol_modal">

    <!-- Modal para Gestión de Rol -->
    <div class="modal" id="rolModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="rolModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form id="rolForm" method="post" action="#" th:action="@{/rol/store}" th:object="${rolEntity}">

                    <div class="card-body">
                        <div class="form-group d-none">
                            <label for="idRolInput">ID</label>
                            <input type="text" th:field="*{idRol}" class="form-control" id="idRolInput" placeholder="ID de Rol">
                        </div>
                        <div class="form-group">
                            <label for="rolInput">Nombre *</label>
                            <input type="text" th:field="*{authority}" class="form-control" id="rolInput" placeholder="Nombre del Rol">
                        </div>

                        <div id="divError" class="callout callout-danger">
                            <p class="my-0"><i class="fas fa-exclamation-circle mr-2"></i><strong>Por favor, corregir los siguientes errores:</strong></p>
                            <ul id="ulError" class="mb-0">
                            </ul>
                        </div>

                    </div>

                    <div class="card-footer">
                        <button type="submit" id="btnSubmitRol" class="btn btn-primary">Crear</button>
                        <button type="button" id="btnCancelarRol" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <!-- Modal para Gestión de Recursos del Rol -->
    <div class="modal fade bd-example-modal-lg" id="rolRecursosModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="rolRecursosModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="card-body">
                    <table class="table exampledt1">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Nombre 1</td>
                            <td>Acción 1</td>
                        </tr>
                        <tr>
                            <td>Nombre 2</td>
                            <td>Acción 2</td>
                        </tr>
                        <tr>
                            <td>Nombre 3</td>
                            <td>Acción 3</td>
                        </tr>
                        <tr>
                            <td>Nombre 4</td>
                            <td>Acción 4</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </tfoot>
                    </table><table class="table exampledt1">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Nombre 1</td>
                        <td>Acción 1</td>
                    </tr>
                    <tr>
                        <td>Nombre 2</td>
                        <td>Acción 2</td>
                    </tr>
                    <tr>
                        <td>Nombre 3</td>
                        <td>Acción 3</td>
                    </tr>
                    <tr>
                        <td>Nombre 4</td>
                        <td>Acción 4</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Nombre</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                    </tfoot>
                </table>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>