<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- SweetAlert2 -->
    <link rel="stylesheet" th:href="@{/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
    <!-- Toastr -->
    <link rel="stylesheet" th:href="@{/plugins/toastr/toastr.min.css}">

</head>

<body>

<h1 class="ml-4 text-dark" layout:fragment="titulo_seccion">Unidades Organizacionales</h1>

<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
    <li class="breadcrumb-item active">Unidades Organizacionales</li>
</ol>

<div layout:fragment="content">
    <div class="alert alert-danger text-center ml-4 mr-4" role="alert" th:if="${existAnio==false}">
        No se pueden crear unidades organizacionales. Es necesario que exista un año laboral activo.
      </div>
    <div class="row ml-3 mr-3">
        <div class="col-md-12 ">
            <div class="card">
                <div class="card-header text-right" th:if="${existAnio==true}">
                    <a type="button" class="btn btn-sm btn-primary" id="crear_unidad_btn" th:if="${create == true}">
                        <i class="fas fa-plus-circle mr-1 text-white"></i>
                        <span class="text-white">Nueva Unidad Organizacional</span>
                    </a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Nombre Unidad</th>
                            <th>Unidad Padre</th>
                            <th>Tipo de Unidad</th>
                            <th>Jefe de Unidad</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="uo: ${unidades}">
                            <td><span th:text="${uo.unidadOrganizacional}"></span></td>
                            <td><span
                                    th:text="${uo.unidadPadre==null} ? 'Ninguna' : ${uo.unidadPadre.unidadOrganizacional}"></span>
                            </td>
                            <td class="text-center"><span th:text="${uo.tipoUnidadOrganizacional.tipoUnidadOrganizacional}"></span></td>
                            <td><span th:if="${uo.empleadoJefe != null}"  th:text="${uo.empleadoJefe.nombrePrimero}+' '+${uo.empleadoJefe.apellidoMaterno}" class="badge badge-info">Habilitado</span>
                                <span th:unless="${uo.empleadoJefe != null}" class="badge badge-danger">No hay jefe asignado</span ></td>
                            <td class="text-center text-white">
                                <a class="btn btn-info btn-sm" title="Ver Unidad Organizacional"
                                   th:if="${show == true}" th:href="@{/unidades-organizacionales/show/{id}(id=${uo.idUnidadOrganizacional})}">
                                    <i class="fas fa-eye"></i>
                                </a>&nbsp;
                                <a class="btn btn-primary btn-sm edit-unidad" title="Editar Unidad Organizacional"
                                   th:if="${edit == true}" th:attr="data-id=${uo.idUnidadOrganizacional}">
                                    <i class="fas fa-pen"></i>
                                </a>&nbsp;
                                <a class="btn btn-danger btn-sm delete_btn" title="Eliminar Unidad Organizacional"
                                   th:if="${delete == true}" th:attr="data-id=${uo.idUnidadOrganizacional}">
                                    <i class="far fa-trash-alt"></i>
                                </a>&nbsp;

                                <a class="btn btn-warning btn-sm text-dark" title="Asignar Presupuesto"
                                   th:if="${presupuesto == true}" th:href="@{/presupuesto/edit/{id}(id=${uo.idUnidadOrganizacional})}">
                                    <i class="fas fa-dollar-sign"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Nombre Unidad Organizacional</th>
                            <th>Unidad Organizacional Padre</th>
                            <th>Tipo de Unidad Organizacional</th>
                            <th>Jefe de Unidad</th>
                            <th>Acciones</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>

    <!-- MODAL CREAR UNIDAD -->
    <div th:insert="unidad-organizacional/create :: create_unidad"></div>

    <!-- MODAL EDITAR UNIDAD -->
    <div th:insert="unidad-organizacional/edit :: edit_unidad"></div>

    <!-- MODAL ELIMINAR UNIDAD -->
    <div class="modal" id="delete_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Unidad Organizacional</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="delete_form">
                        <input type="text" name="id_unidad_delete" hidden id="id_unidad_delete">
                    </form>
                    ¿Desea eliminar la unidad organizacional seleccionada? Si la unidad posee subunidades la eliminacion
                    no sera posible.
                </div>
                <div class="modal-footer">
                    <button type="button" id="delete" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<section layout:fragment="scripts">
    <!-- DataTables -->
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
    <!-- Toastr -->
    <script th:src="@{/plugins/toastr/toastr.min.js}"></script>
    <!-- SweetAlert2 -->
    <script th:src="@{/plugins/sweetalert2/sweetalert2.min.js}"></script>
    <script th:src="@{/js/unidad-org/unidad_org.js}"></script>
</section>
</body>
</html>