<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- SweetAlert2 -->
    <link rel="stylesheet" th:href="@{/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
    <!-- Toastr -->
    <link rel="stylesheet" th:href="@{/plugins/toastr/toastr.min.css}">

    <link rel="stylesheet" th:href="@{/primitives/packages/jquery-ui-1.12.1/jquery-ui.min.css}"/>
    <link th:href="@{/primitives/min/primitives.latest.css?5100}" media="screen" rel="stylesheet" type="text/css"/>

</head>

<body>

<h1 class="ml-4 text-dark" layout:fragment="titulo_seccion"></h1>

<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
    <li class="breadcrumb-item"><a th:href="@{/unidades-organizacionales/index}">Unidades Organizacionales</a></li>
    <li class="breadcrumb-item active">Detalle Unidad</li>
</ol>

<div layout:fragment="content">
    <div class="row">
        <div class="col-md-5 mt-4">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title" id="unidadId" th:attr="data-id=${unidad.idUnidadOrganizacional}">Detalle de unidad organizacional</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label><strong>Nombre Unidad: </strong></label>
                        </div>
                        <div class="col-md-6 text-center">
                            <h5 th:text="${unidad.unidadOrganizacional}"></h5>
                        </div>
                    </div>
                    <div class="row" th:if="${unidad.unidadPadre != null}">
                        <div class="col-md-6">
                            <label><strong>Unidad Padre: </strong></label>
                        </div>
                        <div class="col-md-6 text-center">
                            <h5 th:text="${unidad.unidadPadre.unidadOrganizacional}"></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label><strong>Tipo de unidad: </strong></label>
                        </div>
                        <div class="col-md-6 text-center">
                            <h5 th:text="${unidad.tipoUnidadOrganizacional.tipoUnidadOrganizacional}"></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label><strong>Presupuesto asignado: </strong></label>
                        </div>
                        <div class="col-md-4">
                            <h5 th:text="'$ '+${#numbers.formatDecimal(centroCosto.presupuestoAsignado,1,'COMMA',2,'POINT')}"></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label><strong>Presupuesto anterior: </strong></label>
                        </div>
                        <div class="col-md-4">
                            <h5 th:text="'$ '+${#numbers.formatDecimal(centroCosto.presupuestoAnterior,1,'COMMA',2,'POINT')}"></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label><strong>Presupuesto devengado: </strong></label>
                        </div>
                        <div class="col-md-4">
                            <h5 th:text="'$ '+${#numbers.formatDecimal(centroCosto.presupuestoDevengado,1,'COMMA',2,'POINT')}"></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label><strong>Año laboral: </strong></label>
                        </div>
                        <div class="col-md-4">
                            <h5 th:text="${anio.anioLaboral}"></h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a type="button" class="btn btn-default" th:href="@{/unidades-organizacionales/index}">Listado Unidades</a>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h6 class="text-center" id="mensaje">Seleccione Sub-Unidad</h6>
            <div id="basicdiagram" class="col-md-12" style="height: 370px; border-style: dotted; border-width: 1px;/"></div>
        </div>

    </div>

</div>

<section layout:fragment="scripts">
    <!-- Toastr -->
    <script th:src="@{/plugins/toastr/toastr.min.js}"></script>
    <!-- SweetAlert2 -->
    <script th:src="@{/plugins/sweetalert2/sweetalert2.min.js}"></script>

    <script type="text/javascript" th:src="@{/primitives/packages/jquery-ui-1.12.1/external/jquery/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/primitives/packages/jquery-ui-1.12.1/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/primitives/min/primitives.min.js?5100}"></script>
    <script type="text/javascript" th:src="@{/primitives/min/primitives.jquery.min.js?5100}"></script>
    <script type='text/javascript'>
        $(document).ready(function () {
            var idUnidad = $("#unidadId").data("id");
            $.ajax({
                type: "GET",
                url: "/unidades-organizacionales/show-unidad/"+idUnidad,
                dataType: "json",
                success: function (data) {
                    if (data.result.length == 0) {
                        $("#mensaje").text("No posee sub-unidades");
                    }else{
                        function ruta_imagen(tipo) {
                            switch (tipo) {
                                case "Gerencias": return "/primitives/samples/images/photos/g.png";break;
                                case "Departamentos": return "/primitives/samples/images/photos/d.png";break;
                                case "Secciones": return "/primitives/samples/images/photos/s.png";break;
                                case "Areas": return "/primitives/samples/images/photos/a.png";break;
                                default: return "/primitives/samples/images/photos/o.png";
                            }

                        }
                        var options = new primitives.orgdiagram.Config();
                        if(data.result[0].unidadPadre.unidadPadre == null){
                            var items = [
                                new primitives.orgdiagram.ItemConfig({
                                    id: 0,
                                    parent: null,
                                    title: data.result[0].unidadPadre.unidadOrganizacional,
                                    description: "Es parte de "+data.result[0].unidadPadre.tipoUnidadOrganizacional.tipoUnidadOrganizacional + " de la empresa METABIT CORP SA de CV",
                                    groupTitle: data.result[0].unidadPadre.tipoUnidadOrganizacional.tipoUnidadOrganizacional,
                                    link: data.result[0].unidadPadre.idUnidadOrganizacional,
                                    image : ruta_imagen(data.result[0].unidadPadre.tipoUnidadOrganizacional.tipoUnidadOrganizacional)
                                })
                            ];

                            for (var i = 0; i < data.result.length; i++) {
                                items.push(new primitives.orgdiagram.ItemConfig({
                                    id: i + 1,
                                    parent: 0,
                                    title: data.result[i].unidadOrganizacional,
                                    groupTitle: data.result[i].tipoUnidadOrganizacional.tipoUnidadOrganizacional,
                                    description: "Es parte de "+ data.result[i].tipoUnidadOrganizacional.tipoUnidadOrganizacional + " de la empresa METABIT CORP SA de CV",
                                    itemTitleColor: primitives.common.Colors.Green,
                                    image: ruta_imagen(data.result[i].tipoUnidadOrganizacional.tipoUnidadOrganizacional),
                                    link: data.result[i].idUnidadOrganizacional
                                }));
                            }
                        }else{
                            var items = [
                                new primitives.orgdiagram.ItemConfig({
                                    id: 0,
                                    parent: null,
                                    title: data.result[0].unidadPadre.unidadPadre.unidadOrganizacional,
                                    description: "Es parte de "+data.result[0].unidadPadre.unidadPadre.tipoUnidadOrganizacional.tipoUnidadOrganizacional + " de la empresa METABIT CORP SA de CV",
                                    groupTitle: data.result[0].unidadPadre.unidadPadre.tipoUnidadOrganizacional.tipoUnidadOrganizacional,
                                    link: data.result[0].unidadPadre.unidadPadre.idUnidadOrganizacional,
                                    image : ruta_imagen(data.result[0].unidadPadre.unidadPadre.tipoUnidadOrganizacional.tipoUnidadOrganizacional)
                                }),
                                new primitives.orgdiagram.ItemConfig({
                                    id: 1,
                                    parent: 0,
                                    title: data.result[0].unidadPadre.unidadOrganizacional,
                                    description: "Es parte de "+data.result[0].unidadPadre.tipoUnidadOrganizacional.tipoUnidadOrganizacional + " de la empresa METABIT CORP SA de CV",
                                    groupTitle: data.result[0].unidadPadre.tipoUnidadOrganizacional.tipoUnidadOrganizacional,
                                    link: data.result[0].unidadPadre.idUnidadOrganizacional,
                                    image : ruta_imagen(data.result[0].unidadPadre.tipoUnidadOrganizacional.tipoUnidadOrganizacional)
                                })
                            ];

                            for (var i = 0; i < data.result.length; i++) {
                                items.push(new primitives.orgdiagram.ItemConfig({
                                    id: i + 2,
                                    parent: 1,
                                    title: data.result[i].unidadOrganizacional,
                                    groupTitle: data.result[i].tipoUnidadOrganizacional.tipoUnidadOrganizacional,
                                    description: "Es parte de "+ data.result[i].tipoUnidadOrganizacional.tipoUnidadOrganizacional + " de la empresa METABIT CORP SA de CV",
                                    itemTitleColor: primitives.common.Colors.Green,
                                    image: ruta_imagen(data.result[i].tipoUnidadOrganizacional.tipoUnidadOrganizacional),
                                    link: data.result[i].idUnidadOrganizacional
                                }));
                            }
                        }

                        options.items = items;
                        options.pageFitMode = primitives.common.PageFitMode.None;
                        options.hasSelectorCheckbox = primitives.common.Enabled.False;
                        options.onCursorChanged = function (e, d) {
                            window.location.href = document.location.origin + "/unidades-organizacionales/show/" + d.context.link;
                        };
                        options.cursorItem = 0;

                        jQuery("#basicdiagram").orgDiagram(options);
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            })
        });
    </script>
</section>
</body>
</html>