<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body>

	<h1 class="m-0 text-dark" layout:fragment="titulo_seccion"></h1>

	<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#" th:href="@{/index}">Home</a>
		</li>
		<li class="breadcrumb-item">
			<a href="#" th:href="@{/puesto/index}">Puestos</a>
		</li>
		<li class="breadcrumb-item active">Formulario</li>
	</ol>

	<div layout:fragment="content">

		<div class="row">
			<!-- left column -->
			<div class="col-md-2"></div>
			<div class="col-md-7">
				<!-- general form elements -->
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">Nuevo Puesto</h3>
					</div>
					<!-- /.card-header -->
					<!-- form start -->
					<form role="form" class="user" action="#"
						th:action="@{/puesto/form-post}"
						th:object="${puestoEntity}" method="POST">
						<div class="card-body">
						
							<input type="hidden" class="form-control form-control-user" th:field="*{idPuesto}">
							
							<div class="form-group">
								<label for="puesto">Título *</label> 
								<input type="text" class="form-control" id="puesto" placeholder="Título del puesto" 
									th:field="*{puesto}"
									th:value="${puesto}">								
							</div>
							
							<div class="form-group">
								<label for="descripcion">Descripción </label>
								<textarea class="form-control" id="descripcion" placeholder="Descripción del puesto" rows=3
									th:field="*{descripcion}" th:value="${descripcion}">
								</textarea>
							</div>
							
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="salariominimo">Salario mínimo *</label> 
										<input type="number" class="form-control" id="salariominimo" placeholder="Salario minimo" min="300"
											th:field="*{salarioMinimo}"
											th:value="${salarioMinimo}">
										
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="salariomaximo">Salario Máximo *</label> 
										<input type="number" class="form-control" id="salariomaximo" placeholder="Salario maximo" min="300"
											th:field="*{salarioMaximo}"
											th:value="${salarioMaximo}">
										
									</div>
								</div>
							</div>

							<!-- En el caso de los checkbox, si es true thymeleaf agrega el checked. Sorprendente  -->
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="usuariorequerido" 
										th:field="*{usuarioRequerido}"
										th:value="${usuarioRequerido}"> 
									<label class="custom-control-label" for="usuariorequerido">Usuario requerido</label>
								</div>
							</div>
							
							<div  class="callout callout-danger" id="messageError" style="display:none;">
								<p id="mayor" style="display:none;">
									<i class="icon fas fa-ban mr-2" style="color:red;"></i><span style="text-size=4px"> El salario máximo debe ser mayor al minimo</span>
								</p>
								<p id="minimo" style="display:none;">
									<i class="icon fas fa-ban mr-2" style="color:red;"></i><span style="text-size=4px"> El salario mínimo debe ser mayor a $300.00</span>
								</p>
								
							</div>
							<div  class="callout callout-danger" th:if="${ #fields.hasErrors('puesto') || #fields.hasErrors('salarioMinimo') || #fields.hasErrors('salarioMaximo') }">
								<p th:if="${#fields.hasErrors('puesto')}">
									<i class="icon fas fa-ban mr-2" style="color:red;"></i><span th:errors="*{puesto}"> </span>
								</p>
								<p th:if="${#fields.hasErrors('salarioMinimo')}">
									<i class="icon fas fa-ban mr-2" style="color:red;"></i><span th:errors="*{salarioMaximo}"> </span>
								</p>
								<p th:if="${#fields.hasErrors('salarioMaximo')}">
									<i class="icon fas fa-ban mr-2" style="color:red;"></i><span th:errors="*{salarioMaximo}"> </span>
								</p>
							</div>
						</div>
						<!-- /.card-body -->

						<div class="card-footer">
							<button type="submit" id="enviar" class="btn btn-primary" >Enviar</button>
							<a type="button" class="btn btn-default" href="#"
								th:href="@{/puesto/index}">Cancelar</a>
						</div>
					</form>
				</div>
				<!-- /.card -->
			</div>
		</div>
	</div>
	<section layout:fragment="scripts">
		<script th:src="@{/js/puesto/validacion.js}"></script>
	</section>
</body>
</html>