<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
</head>
<body>
	
	<h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Puestos</h1>

	<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Puestos</li>
    </ol>

	<div layout:fragment="content">
		
		 <div class="card">
            <div class="card-header">
              <h3 class="card-title"></h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Título</th>
                  <th>Descripción</th>
                  <th>Salario mínimo</th>
                  <th>Salario máximo</th>
                  <th>Requiere usuario</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Gerente</td>
                  <td>Descripción</td>
                  <td>$25,000 </td>
                  <td> $40,000 </td>
                  <td> Requiere</td>
                  <td> X </td>
                </tr>              
                </tbody>
                <tfoot>
                <tr>
                  <th>Título</th>
                  <th>Descripción</th>
                  <th>Salario mínimo</th>
                  <th>Salario máximo</th>
                  <th>Requiere usuario</th>
                  <th>Acciones</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
		
		
		
	</div>
	
	
	<section layout:fragment="scripts">
	
		<!-- DataTables -->
	  	<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
	  	<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
		
		<!-- page script -->
		<script>
		  $(function () {
		    $("#example1").DataTable({
		      "responsive": true,
		      "autoWidth": false,
		    });
		    $('#example2').DataTable({
		      "paging": true,
		      "lengthChange": false,
		      "searching": false,
		      "ordering": true,
		      "info": true,
		      "autoWidth": false,
		      "responsive": true,
		    });
		  });
		</script>
	
	</section>

</body>
</html>