<table id="example1" class="table table-bordered table-striped">
	<thead>
		<tr>
		  <th>Código empleado</th>
          <th>Monto de comisión</th>
          <th>Total de ingresos</th>
		  <th>Total de descuentos</th>
		  <th>Total Renta</th>
		  <th>Monto por horas extra</th>
		  <th>Salario neto</th>
		  <th>Acciones</th>
        </tr>
	</thead>
	<tbody>
		<th:block th:if="${!#lists.isEmpty(planillas_unidad)}">
			<h6>[[|Fecha de emisión: ${#dates.format(planillas_unidad[0].fechaEmision, 'dd-MMM-yyyy')} |]]</h6>
		</th:block>	
		<tr th:each="planilla : ${planillas_unidad}" class="text-center">
			<td><a th:href="@{/empleado/show?id={id}(id=${planilla.empleado.idEmpleado})}">[[ ${planilla.empleado.codigo} ]]</a></td>
			<td> [[ ${planilla.montoComision} ]] </td>
			<td> [[ ${planilla.totalIngresos} ]] </td>
			<td> [[ ${planilla.totalDescuentos} ]] </td>
			<td> [[ ${planilla.renta} ]] </td>
			<td> [[ ${planilla.montoHorasExtra} ]] </td>
			<td> [[ ${planilla.salarioNeto} ]] </td>
			<td>
				<a class="btn btn-sm btn-secondary"
				   href=""
				   th:href="@{/periodo/boleta/{idplanilla}(idplanilla=${planilla.idPlanilla})}"
				   title="Ver Boleta de Pago del Empleado">
					<span><i class="fas fa-file-contract"></i></span>
				</a>
			</td>
		</tr>

		<tr th:if="${#lists.isEmpty(planillas_unidad)}">
        	<td colspan="8" class="text-center">
        		Esta unidad no contiene planillas
        	</td>
        </tr>
	</tbody>
	<tfoot>
		<tr>
		  <th>Código empleado</th>
          <th>Monto de comisión</th>
          <th>Total de ingresos</th>
		  <th>Total de descuentos</th>
		  <th>Total Renta</th>
		  <th>Monto por horas extra</th>
		  <th>Salario neto</th>
		  <th>Acciones</th>
        </tr>
	</tfoot>
</table>
