<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
</head>

<body>
	
	<h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Planilla Salarial</h1>

	<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a href="#" th:href="@{/index}">Home</a></li>
        <li class="breadcrumb-item"><a href="#" th:href="@{/planilla/index}">Empleados-Planilla</a></li>
        <li class="breadcrumb-item active">Planilla</li>
    </ol>

	<div layout:fragment="content">
	
		    <!-- general form elements -->
		    <div class="offset-1 col-md-10">
				<div class="card card-primary">
	        <div class="card-header">
	            <h3 class="card-title">Detalle de Planilla</h3>
	        </div>
		        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="generales-tab" data-toggle="tab" href="#generales" role="tab"
                       aria-controls="generales" aria-selected="true">Datos Generales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ingresos-tab" data-toggle="tab" href="#ingresos" role="tab"
                       aria-controls="ingresos" aria-selected="false">Ingresos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="descuentos-tab" data-toggle="tab" href="#descuentos" role="tab"
                       aria-controls="descuentos" aria-selected="false">Descuentos</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!--DATOS GENERALES -->
                <div class="tab-pane fade show active" id="generales" role="tabpanel"
                     aria-labelledby="generales-tab">
                    <div class="container">
                        <div class="card-body">
                           Something here - Planilla <span th:text="${planilla}"></span>
                         </div>
                      </div>
                </div>
      
                <!--INGRESOS-->
                <div class="tab-pane fade" id="ingresos" role="tabpanel"
                     aria-labelledby="ingresos-tab" style="margin-top: 10px;">
                    <div class="container">
	                    <div class="card">
				            <div class="card-header text-right" style="background-color: #E6E6E6;">
					            <button class="btn btn-md btn-primary" title="Agregar Ingreso" data-toggle="modal" data-target="#modalIngresosPendientes">
									<i class="fas fa-plus-circle mr-1 text-white"></i>
									<span class="text-white">Agregar Ingreso</span>
								</button>
				              <h3 class="card-title"></h3>
				            </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Ingreso</th>
                                    <th>Porcentaje/Base</th>
                                    <th>Fijo</th>
                                    <th>Patronal</th>
                                    <th>Monto</th>
                                    <th>Acciones</th>
                                </tr>

                                <tbody>
                                <tr th:if="${ingresos != null}" th:each="ingreso: ${ingresos}">
                                    <td>
                                    	<span th:text="${ingreso.tipoMovimiento.movimiento}"></span>
                                    </td>
                                    <td>
                                    	<span th:if="${ingreso.tipoMovimiento.porcentajeMovimiento}" th:text="${ingreso.tipoMovimiento.porcentajeMovimiento}"></span>
                                    	<span th:if="${ingreso.tipoMovimiento.montoBase}" th:text="${ingreso.tipoMovimiento.montoBase}"></span>
                                    </td>
                                    <td>
                                    	<span th:if="${ingreso.tipoMovimiento.esFijo}">Fijo</span>
                                    	<span th:if="${ingreso.tipoMovimiento.esFijo == false}">No Fijo</span>
                                    </td>
                                    <td>
                                    	<span th:if="${ingreso.tipoMovimiento.esPatronal}">Patronal</span>
                                    	<span th:if="${ingreso.tipoMovimiento.esPatronal == false}">No Patronal</span>
                                    </td>
                                    <td>
                                    	<span th:text="${ingreso.montoMovimiento}"></span>
                                    </td>
                                    <td>
                                    	<button class="btn btn-sm btn-danger" style="text-decoration: none; color: white;"
											title="Remover Ingreso">
                                    		<span><i class="fas fa-trash"></i></span>
                                    	</button>
                                    </td>
                                </tr>
                                <tr th:if="${ingresos == null}">
                                    <td colspan="6">
                                    Esta Planilla aún no tiene asociado ningún Ingreso.
                                    </td>
                                </tr>
                                </tbody>

                                <tfoot>
                                <tr>
                                    <th>Ingreso</th>
                                    <th>Porcentaje/Base</th>
                                    <th>Fijo</th>
                                    <th>Patronal</th>
                                    <th>Monto</th>
                                    <th>Acciones</th>
                                </tr>
                                </tfoot>

                            </table>
                        </div>
                       </div> 
                    </div>
                </div>

                <!--DESCUENTOS-->
                <div class="tab-pane fade" id="descuentos" role="tabpanel" aria-labelledby="descuentos-tab">
                    <div class="container-fluid" style="margin-top: 10px;">
                    	<div class="card">
				            <div class="card-header text-right" style="background-color: #E6E6E6;">
					            <button class="btn btn-md btn-primary" title="Agregar Descuento" data-toggle="modal" data-target="#modalDescuentosPendientes">
									<i class="fas fa-plus-circle mr-1 text-white"></i>
									<span class="text-white">Agregar Descuento</span>
								</button>
				              <h3 class="card-title"></h3>
				            </div>
                        <div class="card-body">
                                <table id="example2" class="table table-bordered table-striped">

                                <thead>
                                <tr>
                                    <th>Descuento</th>
                                    <th>Porcentaje/Base</th>
                                    <th>Fijo</th>
                                    <th>Patronal</th>
                                    <th>Monto</th>
                                    <th>Acciones</th>
                                </tr>

                                <tbody>
                                <tr th:if="${descuentos != null}" th:each="descuento: ${descuentos}">
                                    <td>
                                    	<span th:text="${descuento.tipoMovimiento.movimiento}"></span>
                                    </td>
                                    <td>
                                    	<span th:if="${descuento.tipoMovimiento.porcentajeMovimiento}" th:text="${descuento.tipoMovimiento.porcentajeMovimiento}"></span>
                                    	<span th:if="${descuento.tipoMovimiento.montoBase}" th:text="${descuento.tipoMovimiento.montoBase}"></span>
                                    </td>
                                    <td>
                                    	<span th:if="${descuento.tipoMovimiento.esFijo}">Fijo</span>
                                    	<span th:if="${descuento.tipoMovimiento.esFijo == false}">No Fijo</span>
                                    </td>
                                    <td>
                                    	<span th:if="${descuento.tipoMovimiento.esPatronal}">Patronal</span>
                                    	<span th:if="${descuento.tipoMovimiento.esPatronal == false}">No Patronal</span>
                                    </td>
                                    <td>
                                    	<span th:text="${descuento.montoMovimiento}"></span>
                                    </td>
                                    <td>
                                    	<button class="btn btn-sm btn-danger" style="text-decoration: none; color: white;"
											title="Remover Ingreso">
                                    		<span><i class="fas fa-trash"></i></span>
                                    	</button>
                                    </td>
                                </tr>
                                <tr th:if="${descuentos == null}">
                                    <td colspan="6">
                                    	Esta Planilla aún no tiene asociado ningún Descuento.
                                    </td>
                                </tr>
                                </tbody>

                                <tfoot>
                                <tr>
                                    <th>Descuento</th>
                                    <th>Porcentaje/Base</th>
                                    <th>Fijo</th>
                                    <th>Patronal</th>
                                    <th>Monto</th>
                                    <th>Acciones</th>
                                </tr>
                                </tfoot>

                            </table>
                        </div>
                       </div> 
                    </div>
                </div>
            </div>
        </div>
	</div>
	
	<!-- Modal listado de Ingresos pendientes -->
		<div class="modal" id="modalIngresosPendientes" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Ingresos Pendientes</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form method="post" action="#" th:action="@{/planilla/agregar-movimientos}">
		      	  <input type="hidden" id="inputIngresosPlanilla" name="id_planilla" th:value="${planilla}">
			      <table id="example2" class="table table-hover">
                      <thead>
                      <tr>
                          <th>Ingreso</th>
                          <th>Porcentaje/Base</th>
                          <th>Seleccionar</th>
                      </tr>

                      <tbody>
                      <tr th:if="${ingresosPendientes != null}" th:each="ingreso: ${ingresosPendientes}">
                          <td>
                          	<span th:text="${ingreso.movimiento}"></span>
                          </td>
                          <td>
                          	<span th:if="${ingreso.porcentajeMovimiento}" th:text="${ingreso.porcentajeMovimiento}"></span>
                          	<span th:if="${ingreso.montoBase}" th:text="${ingreso.montoBase}"></span>
                          </td>
                          <td>
                          	<div class="form-check">
							  <input class="form-check-input" type="checkbox" th:value="${ingreso.idMovimiento}" name="movimientos_seleccionados">
							</div>
                          </td>
                      </tr>
                      <tr th:if="${ingresosPendientes == null}">
                          <td colspan="6">
                          	Ya no hay Ingresos Pendientes.
                          </td>
                      </tr>
                      </tbody>
                  </table>
                  <div class="modal-footer">
			        <button type="submit" class="btn btn-primary">Guardar</button>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>
		
		<!-- Modal listado de Descuentos pendientes -->
		<div class="modal" id="modalDescuentosPendientes" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Descuentos Pendientes</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form method="post" action="#" th:action="@{/planilla/agregar-movimientos}">
		     	  <input type="hidden" id="inputDescuentosPlanilla" name="id_planilla" th:value="${planilla}">
			      <table id="example2" class="table table-hover">
                      <thead>
                      <tr>
                          <th>Descuento</th>
                          <th>Porcentaje/Base</th>
                          <th>Seleccionar</th>
                      </tr>

                      <tbody>
                      <tr th:if="${descuentosPendientes != null}" th:each="descuento: ${descuentosPendientes}">
                          <td>
                          	<span th:text="${descuento.movimiento}"></span>
                          </td>
                          <td>
                          	<span th:if="${descuento.porcentajeMovimiento}" th:text="${descuento.porcentajeMovimiento}"></span>
                          	<span th:if="${descuento.montoBase}" th:text="${descuento.montoBase}"></span>
                          </td>
                          <td>
                          	<div class="form-check">
							  <input class="form-check-input" type="checkbox" th:value="${descuento.idMovimiento}" name="movimientos_seleccionados">
							</div>
                          </td>
                      </tr>
                      <tr th:if="${descuentosPendientes == null}">
                          <td colspan="6">
                          	Ya no hay Descuentos Pendientes.
                          </td>
                      </tr>
                      </tbody>
                  </table>
                  <div class="modal-footer">
			        <button type="submit" class="btn btn-primary">Guardar</button>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>
</div>	
		
	<section layout:fragment="scripts">
	    <!-- DataTables -->
	  	<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
	  	<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
		
		<script type="text/javascript">
			$(function () {
			    $("#example2").DataTable({
			      "paging": true,
			      "lengthChange": false,
			      "searching": true,
			      "ordering": true,
			      "info": true,
			      "autoWidth": false,
			      "responsive": true,
			      "pageLength": 5,
			    });
			    $('#example1').DataTable({
			      "paging": true,
			      "lengthChange": false,
			      "searching": true,
			      "ordering": true,
			      "info": true,
			      "autoWidth": false,
			      "responsive": true,
			      "pageLength": 5,
			    });
			  });
		</script>
		<script type="text/javascript">
		
		</script>
	</section>

</body>
</html>