<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" th:href="@{/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/toastr/toastr.min.css}">

    <title>Sistema Planilla | Tipos de Documento</title>

</head>
<body>

<h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Tipos de Documento</h1>

<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
    <li class="breadcrumb-item"><a href="#" th:href="@{/index}">Home</a></li>
    <li class="breadcrumb-item active">Tipos de Documento</li>
</ol>

<div layout:fragment="content">

    <input type="hidden" id="store" th:value="${store_success}">
    <input type="hidden" id="update" th:value="${update_success}">
    <input type="hidden" id="enable" th:value="${enable_success}">
    <input type="hidden" id="disable" th:value="${disable_success}">
    <input type="hidden" id="delete" th:value="${delete_success}">

    <div class="row ml-3 mr-3">
        <div class="col-md-12">

            <div class="card">

                <div class="card-header text-right">
                    <a class="btn btn-primary btn-sm"
                       href="#"
                       id="tipoDocumentoBtnNuevo"
                       data-toggle="modal"
                       data-target="#tipoDocumentoModal">
                        <i class="fas fa-plus-circle mr-1 text-white"></i>
                        <span class="text-white">Nuevo Tipo de Documento</span>
                    </a>
                </div>

                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">

                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Formato</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>

                        <tbody>
                        <tr th:each="tipoDocumento: ${tiposDocumento}">

                            <td><span th:text="${tipoDocumento.tipoDocumento}"></span></td>
                            <td><span th:text="${tipoDocumento.formato}"></span></td>
                            <td>
                                <span th:if="${tipoDocumento.tipoDocumentoHabilitado}">
                                    <span class="badge badge-success">Habilitado</span>
                                </span>
                                <span th:unless="${tipoDocumento.tipoDocumentoHabilitado}">
                                    <span class="badge badge-danger">Deshabilitado</span>
                                </span>
                            </td>

                            <td class="text-center">
                                <a class="btn btn-info btn-sm tipoDocumentoBtnVer"
                                   href="#"
                                   title="Ver Tipo de Documento"
                                   data-toggle="modal"
                                   data-target="#tipoDocumentoModal"
                                   th:attr="
                                   data-id-tipo-documento=${tipoDocumento.idTipoDocumento},
                                   data-tipo-documento=${tipoDocumento.tipoDocumento},
                                   data-formato=${tipoDocumento.formato}">
                                    <i class="fas fa-eye"></i>
                                </a>&nbsp;&nbsp;
                                <a class="btn btn-primary btn-sm tipoDocumentoBtnEditar"
                                   href="#"
                                   title="Editar Tipo de Documento"
                                   data-toggle="modal"
                                   data-target="#tipoDocumentoModal"
                                   th:attr="
                                   data-id-tipo-documento=${tipoDocumento.idTipoDocumento},
                                   data-tipo-documento=${tipoDocumento.tipoDocumento},
                                   data-formato=${tipoDocumento.formato},
                                   data-tipo-documento-habilitado=${tipoDocumento.tipoDocumentoHabilitado}">
                                    <i class="fas fa-pen"></i>
                                </a>&nbsp;&nbsp;
                                <a th:class="${tipoDocumento.tipoDocumentoHabilitado} ? 'btn btn-danger btn-sm' : 'btn btn-success btn-sm'"
                                   href="#"
                                   th:title="${tipoDocumento.tipoDocumentoHabilitado} ? 'Deshabilitar Tipo de Documento' : 'Habilitar Tipo de Documento'"
                                   data-toggle="modal"
                                   data-target="#tipoDocumentoModalDisable"
                                   th:attr="
                                   data-id-tipo-documento=${tipoDocumento.idTipoDocumento},
                                   data-tipo-documento=${tipoDocumento.tipoDocumento},
                                   data-tipo-documento-habilitado=${tipoDocumento.tipoDocumentoHabilitado}">
                                    <span th:if="${tipoDocumento.tipoDocumentoHabilitado}"><i class="fas fa-lock"></i></span>
                                    <span th:unless="${tipoDocumento.tipoDocumentoHabilitado}"><i class="fas fa-unlock"></i></span>
                                </a>&nbsp;&nbsp;
                                <a class="btn btn-danger btn-sm"
                                   href="#"
                                   title="Eliminar Tipo de Documento"
                                   data-toggle="modal"
                                   data-target="#tipoDocumentoModalDestroy"
                                   th:attr="
                                   data-id-tipo-documento=${tipoDocumento.idTipoDocumento},
                                   data-tipo-documento=${tipoDocumento.tipoDocumento}">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>

                        </tr>

                        <tr th:if="${#lists.isEmpty(tiposDocumento)}">
                            <td colspan="6">
                                A&uacute;n no se registran Tipos de Documento en el sistema
                            </td>

                        </tr>
                        </tbody>

                        <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Formato</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                        </tfoot>

                    </table>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->

        </div>
    </div>

    <div th:insert="tipo-documento/tipo-documento-modal :: tipo_documento_modal"></div>
    <div th:insert="tipo-documento/delete-modal :: delete_modal"></div>


</div>

<section layout:fragment="scripts">

    <!-- DataTables -->
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>

    <!-- Toastr -->
    <script th:src="@{/plugins/toastr/toastr.min.js}"></script>
    <!-- SweetAlert2 -->
    <script th:src="@{/plugins/sweetalert2/sweetalert2.min.js}"></script>

    <script th:src="@{/js/datatable/datatable.js}"></script>
    <script th:src="@{/js/errores/errores.js}"></script>
    <script th:src="@{/js/tipo-documento/tipo-documento.js}"></script>

</section>

</body>
</html>