<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- SweetAlert2 -->
    <link rel="stylesheet" th:href="@{/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
    <!-- Toastr -->
    <link rel="stylesheet" th:href="@{/plugins/toastr/toastr.min.css}">

    <title>Sistema Planilla | Tipos de Documento</title>

</head>
<body>

<h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Tipos de Documento</h1>

<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
    <li class="breadcrumb-item"><a href="#" th:href="@{/index}">Home</a></li>
    <li class="breadcrumb-item active">Tipos de Documento</li>
</ol>

<div layout:fragment="content">

    <input type="hidden" id="store" th:value="${store_success}">
    <input type="hidden" id="update" th:value="${update_success}">
    <input type="hidden" id="enable" th:value="${enable_success}">
    <input type="hidden" id="disable" th:value="${disable_success}">

    <div class="row ml-3 mr-3">
        <div class="col-md-12">

            <div class="card">

                <div class="card-header text-right">
                    <a href="#" th:href="@{/tipo-documento/form-tipo-documento}" type="button" class="btn btn-sm btn-primary">
                        <i class="fas fa-plus-circle mr-1 text-white"></i>
                        <span class="text-white">Nuevo Tipo de Documento</span>
                    </a>
                </div>
                <!-- /.card-header -->

                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">

                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Formato</th>
                            <th>Habilitado/Deshabilitado</th>
                            <th>Acciones</th>
                        </tr>

                        <tbody>
                        <tr th:each="tipoDocumento: ${tiposDocumento}">

                            <td><span th:text="${tipoDocumento.tipoDocumento}"></span></td>
                            <td><span th:text="${tipoDocumento.formato}"></span></td>
                            <td>
                                <span th:if="${tipoDocumento.tipoDocumentoHabilitado}">Habilitado</span>
                                <span th:unless="${tipoDocumento.tipoDocumentoHabilitado}">Deshabilitado</span>
                            </td>

                            <td>
                                <div class="btn-group">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                            <span>Acci&oacute;n</span>
                                        </button>
                                        <div class="dropdown-menu" style="">
                                            <a class="dropdown-item" href="#" th:href="@{'/tipo-documento/form-tipo-documento/'+${tipoDocumento.idTipoDocumento}+''}"><i class="far fa-edit mr-3"></i>Editar</a>
                                            <a class="dropdown-item"
                                               style="cursor:pointer"
                                               th:attr="
                                                        data-id-tipo-documento=${tipoDocumento.idTipoDocumento},
                                                        data-tipo-documento=${tipoDocumento.tipoDocumento},
                                                        data-tipo-documento-habilitado=${tipoDocumento.tipoDocumentoHabilitado}"
                                               onclick="activateModalDisable(this)">

                                                <span th:if="${tipoDocumento.tipoDocumentoHabilitado}"><i class="far fa-trash-alt mr-3"></i> Deshabilitar</span>
                                                <span th:unless="${tipoDocumento.tipoDocumentoHabilitado}"><i class="fas fa-undo-alt mr-3"></i> Habilitar</span>

                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>

                        <tr th:if="${#lists.isEmpty(tiposDocumento)}">
                            <td colspan="6">
                                A&uacute;n no se registran Tipos de Documento en el sistema
                            </td>

                        </tr>
                        </tbody>

                        <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Formato</th>
                            <th>Habilitado/Deshabilitado</th>
                            <th>Acciones</th>
                        </tr>
                        </tfoot>

                    </table>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->

        </div>
    </div>
    <!-- Modal para Confirmar Deshabilitación de Tipo de Documento -->
    <div class="modal" id="tipoDocumentoModalDisable" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="modal-tittle-disable"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form method="post"
                      action="#"
                      th:action="@{/tipo-documento/disable}">

                    <div class="modal-body">
                        <div class="form-group">
                            <div id="divMessage"></div>
                            <input type="hidden" class="form-control" id="idTipoDocumentoInputDisable" name="idTipoDocumentoDisable" value="">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" id="btn_deshabilitar"></button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<section layout:fragment="scripts">

    <!-- DataTables -->
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>

    <!-- Toastr -->
    <script th:src="@{/plugins/toastr/toastr.min.js}"></script>
    <!-- SweetAlert2 -->
    <script th:src="@{/plugins/sweetalert2/sweetalert2.min.js}"></script>

    <script th:src="@{/js/datatable/datatable.js}"></script>
    <script th:src="@{/js/tipo-documento/tipo-documento.js}"></script>

</section>

</body>
</html>