<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="tipo_documento_modal">
    <!-- Modal para Gestión de los Tipos de Documento -->
    <div id="tipoDocumentoModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="tipoDocumentoModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form class="h-100" method="post" th:action="@{/tipo-documento/store}" th:object="${tipoDocumentoEntity}">

                    <div class="card-body row h-100">

                        <div class="col-6 h-100 position-relative">

                            <div class="form-group d-none">
                                <label for="idTipoDocumentoInput">ID</label>
                                <input type="text" th:field="*{idTipoDocumento}" class="form-control" id="idTipoDocumentoInput" placeholder="ID de Tipo de Documento">
                                <label for="tipoDocumentoHabilitadoInput">Habilitado</label>
                                <input type="checkbox" th:field="*{tipoDocumentoHabilitado}" class="form-control" id="tipoDocumentoHabilitadoInput">
                            </div>
                            <div class="form-group">
                                <label for="tipoDocumentoInput">Nombre *</label>
                                <input type="text" class="form-control" id="tipoDocumentoInput" placeholder="Nombre de Tipo de Documento" th:field="*{tipoDocumento}">
                            </div>
                            <div class="form-group">
                                <label for="formatoInput">Formato *</label>
                                <input type="text" class="form-control" id="formatoInput" placeholder="Formato de Tipo de Documento" th:field="*{formato}">
                            </div>

                            <div id="errorDiv" class="callout callout-danger">
                                <p class="my-0"><i class="fas fa-exclamation-circle mr-2"></i><strong>Por favor, corregir los siguientes errores:</strong></p>
                                <ul id="errorUl" class="mb-0">
                                </ul>
                            </div>

                            <div class="card-footer bg-light text-right">
                                <button type="button" id="tipoDocumentoBtnCancelar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" id="tipoDocumentoBtnSubmit" class="btn btn-primary">Editar</button>
                            </div>

                        </div>

                        <div class="col-6 callout callout-info p-3">
                            <p><i class="fas fa-info-circle mr-2"></i><strong>Información sobre el formato</strong></p>
                            <ul>
                                <li>Utilice un cero (0) para indicar la posici&oacute;n donde deber&iacute;a ir un n&uacute;mero.</li>
                                <li>Utilice una letra 'a' para indicar la posici&oacute;n donde deber&iacute;a ir una letra.</li>
                                <li>Utilice un gui&oacute;n para indicar la posici&oacute;n donde deber&iacute;a ir un gui&oacute;n.</li>
                            </ul>
                            <p>
                                <strong>Ejemplos:</strong><br>
                                DUI: 00000000-0<br>
                                NIT: 0000-000000-000-0
                            </p>
                        </div>

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>