<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- SweetAlert2 -->
  <link rel="stylesheet" th:href="@{/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
	<!-- Toastr -->
  <link rel="stylesheet" th:href="@{/plugins/toastr/toastr.min.css}">
  <!-- Select2 -->
  <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
</head>
<body>

	<h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Años Laborales</h1>

	<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#" th:href="@{/index}">Home</a>
		</li>
		<li class="breadcrumb-item active">Años laborales</li>
	</ol>
	
	<div layout:fragment="content">	
		<input type="hidden" name="" th:if="${success_anio}" id="success_anio">
		<input type="hidden" name="" th:if="${success_planilla}" id="success_planilla">
		<div class="container">
			<div class="row ml-5">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<ul th:if="${!#lists.isEmpty(errors)}" class="alert alert-danger ml-2 mr-2" role="alert">
						<li  class="ml-2" th:each="error : ${errors}" th:text="${error}"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row ml-3 mr-3">
			<div class="col-md-1"></div>
			<div class="col-md-10 ">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<div class="form-group">
								<select id="aniosLaborales" class="form-control select2bs4" style="width: 100%;">
				                    <th:block th:if="${!#lists.isEmpty(years)}" th:each="year : ${years}">
				                    	<option th:if="${selected_year.anioLaboral}==${year.anioLaboral}"
				                    		th:text="|Año Laboral ${year.anioLaboral}|" th:value="${year.anioLaboral}" selected="selected">
				                    	</option>
				                    	<option th:unless="${selected_year.anioLaboral}==${year.anioLaboral}"
				                    		th:text="|Año Laboral ${year.anioLaboral}|" th:value="${year.anioLaboral}">
				                    	</option>
				                    </th:block>
				                    <option th:if="${#lists.isEmpty(years)}">No hay años laborales</option>
			                  </select>
			                  	</div>
							</div>
							<div class="col-md-4  text-right">
								<th:block sec:authorize="hasAuthority('ANIOLABORAL_CREATE')">
									<a href="#" type="button" class="btn btn-sm btn-primary" id="add-anio-laboral"> 
										<i class="fas fa-plus-circle mr-1 text-white"></i> 
										<span class="text-white">Nuevo Año laboral</span>
									</a>
								</th:block>
							</div>
						</div>
					</div>
					
					<div class="card-body">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
								  <th>#</th>
				                  <th>Fecha inicio</th>
				                  <th>Fecha final</th>
				                  <th>Estado</th>
								  <th>Acciones</th>
				                </tr>
							</thead>
							<tbody>
								<div th:if="${selected_year != null}">

								<tr th:each="periodo, state: ${selected_year.periodos}">
									<td th:text="${state.count}"></td>
									<td th:text="${#temporals.format(periodo.fechaInicio, 'dd, MMM. yyyy')}" class="fecha_inicio"></td>
									<td th:text="${#temporals.format(periodo.fechaFinal, 'dd, MMM. yyyy')}" class="fecha_final"></td>
					                <td>
					                	<span th:if="${periodo.fechaFinal.isBefore(local_date) && !periodo.activo}" class="badge badge-danger">Cerrado</span>
					                	<th:block th:if="${periodo.fechaInicio.isBefore(local_date) && periodo.fechaFinal.isAfter(local_date)}">
					                		<span th:if="${periodo.activo}" class="badge badge-success">Activo</span>
					                		<span th:if="${!periodo.activo}" class="badge badge-info">No iniciado</span>
					                	</th:block>
					                	<span th:if="${periodo.fechaInicio.isAfter(local_date) && !periodo.activo}" class="badge badge-info">No iniciado</span>
					                </td>
									<td class="text-center">
										<th:block sec:authorize="hasAuthority('PLANILLA_CREATE')">
											<th:block th:if="${periodo.fechaInicio.isBefore(local_date) && periodo.fechaFinal.isAfter(local_date)}">
											<button class="btn btn-sm btn-info" title="Generar planillas" th:attr="data-periodo=${periodo.idPeriodo}">
												<i class="fas fa-clipboard-list"></i>&nbsp;&nbsp;Generar Planillas
											</button>
											</th:block>
											<th:block th:if="${periodo.fechaFinal.isBefore(local_date) || periodo.fechaInicio.isAfter(local_date) && !periodo.activo}">
												<button class="btn btn-sm btn-info" title="Generar planillas" th:attr="data-periodo=${periodo.idPeriodo}" disabled="true">
													<i class="fas fa-clipboard-list"></i>&nbsp;&nbsp;Generar Planillas
												</button>
											</th:block>
										</th:block>
										<a class="btn btn-sm btn-secondary"
										   th:if="${periodo.fechaFinal.isBefore(local_date) || periodo.activo}"
										   title="Ver Planillas del Periodo"
										   th:href="@{/periodo/index/{id}(id=${periodo.idPeriodo})}">
											<i class="fas fa-list"></i>&nbsp;&nbsp;Ver Planillas
										</a>
										<a class="btn btn-sm btn-secondary disabled"
										   th:unless="${periodo.fechaFinal.isBefore(local_date) || periodo.activo}"
										   title="Ver Planillas del Periodo"
										   th:href="@{/periodo/index/{id}(id=${periodo.idPeriodo})}">
											<i class="fas fa-list"></i>&nbsp;&nbsp;Ver Planillas
										</a>
									</td>
								</tr>
								</div>
								<tr th:if="${#lists.isEmpty(years)}">
				                	<td colspan="6">
				                		No hay periodos en el Año Laboral
				                	</td>
				                </tr>
							</tbody>
							<tfoot>
								<tr>
								  <th>#</th>
				                  <th>Fecha inicio</th>
				                  <th>Fecha final</th>
				                  <th>Estado</th>
								  <th>Acciones</th>
				                </tr>
							</tfoot>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
		</div>

		<!-- Modal para agregar un año laboral -->
		<div class="modal fade" id="addAnioLaboral" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Agregar Año Laboral</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form method="POST" action="#" th:action="@{/anio-laboral/store}">
			      <div class="modal-body">
			        <div class="form-group">
			            <label for="recipient-name" class="col-form-label">Año:</label>
			            <input type="text" class="form-control" id="recipient-name" readonly="true" 
			            th:value="${#dates.format(#dates.createNow(), 'yyyy')}" name="anioLaboral">
			        </div>
			        <div class="form-group">
			        	<label for="recipient-name" class="col-form-label">Periodicidad:</label>
			        	<select class="form-control" style="width: 100%;" name="periodicidad">
		                    <option value="15">Quincenalmente</option>
		                    <option value="30">Mensualmente</option>
	                	</select>
			        </div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			        <button type="submit" class="btn btn-primary">Guardar</button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>

		<!-- Modal para confirmar la generación de las planillas -->
		<div class="modal fade" id="generarPlanillas" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Generar Planillas</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form method="POST" action="#" th:action="@{/planilla/store}">
			      <div class="modal-body">
			        <div class="form-group">
			            <p>¿Desea generar las planillas para el periodo del <em></em>?</p>
			        </div>
			      <div class="modal-footer">
			      	<input id="id_periodo" type="hidden" name="id_periodo" value="">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
			        <button type="submit" class="btn btn-primary">Sí</button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>

	</div>
	<!-- Scripts-->
	<section layout:fragment="scripts">

		<!-- DataTables -->
		<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
		<!-- Toastr -->
		<script th:src="@{/plugins/toastr/toastr.min.js}"></script>
		<!-- SweetAlert2 -->
		<script th:src="@{/plugins/sweetalert2/sweetalert2.min.js}"></script>
		<!-- Select2 -->
		<script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>

		<!-- page script -->
		<script>
			$(function() {
				$("#example1").DataTable({
					"responsive" : true,
					"autoWidth" : false,
				});

				//Initialize Select2 Elements
			    $('.select2bs4').select2({
			      theme: 'bootstrap4'
			    })
			});	

			$('#aniosLaborales').on('change', function(){
				var anio = $(this).val();
				location.href = '/anio-laboral/index/' + anio;
			});

			$('#add-anio-laboral').on('click', function(){
	          $('#addAnioLaboral').modal('show');
	        });

			setTimeout(function() {
				$(".alert").fadeOut();           
			},3000);

			var success = $('#success_anio').val();
			if(success != null){
			    toastr.success('El Año Laboral fue registrado con éxito');
			}

			var success = $('#success_planilla').val();
			if(success != null){
			    toastr.success('Las planillas del periodo fueron generadas con éxito');
			}
	        
			$('[data-periodo]').on('click', function(){
				
				var id_periodo = $(this).data('periodo');
				var fecha_inicio = $(this).parent().siblings('.fecha_inicio').text();
				var fecha_final = $(this).parent().siblings('.fecha_final').text();
				
				$('em').text(fecha_inicio + ' al ' + fecha_final);
				$('#id_periodo').val(id_periodo);
				$('#generarPlanillas').modal('show');
			});

		</script>
		<!-- Scripts-->
	</section>

</body>
</html>