<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Error 500</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./potato_style.css">
<link rel="stylesheet" th:href="@{/dist/css/potato_style.css}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="mr">
  <h1>500</h1>
  <div class="mr__head"></div>
  <div class="mr__hat hat">
    <div class="hat__bowl"></div>
    <div class="hat__brim"></div>
  </div>
  <div class="mr__ear mr__ear--left ear">
    <div class="ear__inner"></div>
  </div>
  <div class="mr__ear mr__ear--right ear">
    <div class="ear__inner"></div>
  </div>
  <div class="mr__shoe mr__shoe--left shoe">
    <div class="shoe__body"></div>
    <div class="shoe__sole"></div>
  </div>
  <div class="mr__shoe mr__shoe--right shoe">
    <div class="shoe__body"></div>
    <div class="shoe__sole"></div>
  </div>
  <div class="mr__nose"></div>
  <div class="mr__mouth"></div>
  <div class="mr__eye mr__eye--left eye">
    <div class="eye__pupil"></div>
    <div class="eye__lid eye__lid--upper"></div>
    <div class="eye__lid eye__lid--lower"></div>
  </div>
  <div class="mr__eye mr__eye--right eye">
    <div class="eye__pupil"></div>
    <div class="eye__lid eye__lid--upper"></div>
    <div class="eye__lid eye__lid--lower"></div>
  </div>
  <div class="mr__eye-brow mr__eye-brow--left"></div>
  <div class="mr__eye-brow mr__eye-brow--right"></div>
  <div class="mr__arm mr__arm--left arm">
    <div class="hand">
      <div class="finger"></div>
      <div class="finger"></div>
      <div class="finger"></div>
      <div class="finger"></div>
    </div>
  </div>
  <div class="mr__arm mr__arm--right arm">
    <div class="fist"></div>
  </div>
</div>
<h1 class="message">Algo anda mal :(.</h1>
<h3 th:text="${error}" style="color:white"></h3>
<h3 th:text="${message}" style="color:white"></h3>
<a th:href="@{/index}" style="color:black">Volver a inicio</a>
</body>
</html>
