<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

</head>
<body style="margin-left: 20px;">
  <h4 style="color: black;">El empleado <em> [[ ${nombre} ]]</em> con: 
    <ul>
      <li><b>Usuario:</b> [[ ${username} ]] </li>
      <li><b>Correo personal:</b> [[ ${email_per} ]] </li>
      <li><b>Correo instuitucional:</b> [[ ${email_ins} ]] </li>
    </ul>
    <div >
    <p style="display: inline-block;">ha solicitado desbloquar su cuenta</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <form method="post" action="#" th:action="@{${url_unlock}}" style="display: inline-block;">
      <input type="hidden" name="idEmpleado" th:value="${id}">
      <button type="submit" title="Desbloquear usuario" style="background-color: #008BFF;
                                                              border: none;
                                                              border-radius:4px;
                                                              color: white;
                                                              padding: 6px 9px;
                                                              text-align: center;
                                                              text-decoration: none;
                                                              font-weight: bold;
                                                              margin-right:auto;
                                                              font-size: 14px;">
      Desbloquear</button>
    </form>
    </div>
    <a th:href="@{${url_base}}">Ir a inicio</a>
  </h4>
</body>
</html>
