<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
</head>

<body>
	
	<h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Planilla Salarial</h1>

	<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Planilla</li>
    </ol>

	<div layout:fragment="content">
		<div class="jumbotron">
		  <h1 class="display-4">MetaBit Payroll System </h1>
		  <p class="lead">MetaBit Payroll System es un proyecto de software orientado a la gestión, control y manejo de planillas de empleados, 
		  				  de la empresa MetaBit SA de CV.</p>
		  <hr class="my-4">
		  <p>El proyecto es desarrollado por <i class="text-danger fa fa-heart"></i> por <a href="https://github.com/MetaBIT-Corp">MetaBit-Corp</a></p>
		  
		</div>
	</div>
	
	
	<section layout:fragment="scripts">
	</section>

</body>
</html>